.button {
	padding: 5px 15px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var(--grey-color);
	border-radius: 10px;
	transition: background 0.3s ease, color 0.3s ease;
	&__primary {
		background: var(--light-blue-color);
		&-active {
			background: var(--dark-blue-color);
		}
		&:hover {
			background: var(--blue-color);
		}
		&:disabled {
			color: var(--white-color);
			background: var(--disabled-color);
		}
		&-icon {
			display: flex;
			padding-top: 8px;
			padding-bottom: 8px;
			&-svg {
				width: 24px;
				height: 22px;
				fill: white;
			}
			&:disabled {
				fill: var(--grafite-color);
				background: var(--disabled-color);
			}
			&-active {
				background-color: var(--dark-blue-color);
			}
		}
	}
	&__secondary {
		transition: border 0.3s ease-in-out, background 0.3s ease-in-out,
			color 0.3s ease-in-out, opacity 0.3s ease;
		position: relative;
		background: var(--white-color);
		border: 2px solid var(--light-blue-color);
		color: var(--dark-blue-color);
		&-active {
			background: var(--dark-blue-color);
			border: 2px solid var(--dark-blue-color);
			color: var(--white-color);
			&::after {
				display: none;
			}
		}
		&:hover {
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
		&::after {
			content: "";
			width: calc(100% + 8px);
			height: calc(100% + 8px);
			border-radius: 10px;
			background: transparent;
			position: absolute;
			top: -4px;
			left: -4px;
			border: 4px solid var(--blue-color);
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s ease;
		}
		&:disabled {
			color: var(--white-color);
			background: var(--disabled-color);
			border-color: transparent;
			&::after {
				display: none;
			}
		}
	}
}
