.catalog-hero {
	padding-bottom: 130px;
	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 30px;
		&-card {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
		&-image {
			background: var(--white-color);
			border: 1px solid var(--border-color);
			box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			margin-bottom: 10px;
			position: relative;
			display: flex;
		}
		&-quantity {
			display: flex;
			flex-direction: column;
			align-items: center;
			min-width: fit-content;
			&-hidden {
				display: none;
			}
		}
		&-category {
			margin-bottom: 50px;
			&-first {
				display: flex;
				flex-direction: column;
				order: -1;
			}
			&-hidden {
				display: none;
			}
		}
		&-price {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
		}
		&-hidden {
			display: none;
		}
		&-visible {
			padding-bottom: 270px;
			& .catalog-hero {
				&__item-category {
					&:nth-child(4n-3)::after {
						display: none;
					}
					&:nth-child(3n - 2)::after {
						display: none;
					}
				}
				&__container {
					&-image {
						height: 100%;
						flex-direction: column;
						align-items: center;
						justify-content: space-between;
						padding: 20px 25px;
						margin-bottom: 0;
						cursor: pointer;
					}
				}
			}
		}
	}
	&__link {
		color: var(--light-blue-color);
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
		padding-right: 8px;
	}
	&__title {
		margin: 0;
		margin-bottom: 32px;
		&-list {
			margin: 0;
		}
		&-category {
			margin: 0;
			margin-bottom: 20px;
			color: var(--light-blue-color);
		}
		&-product {
			margin: 0;
			margin-bottom: 10px;
			font-weight: 600;
			font-size: 18px;
			line-height: 122%;
			color: var(--light-blue-color);
		}
		&-quantity {
			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
			color: var(--light-blue-color);
			margin-top: 5px;
		}
	}
	&__discount {
		font-weight: 600;
		font-size: 14px;
		line-height: 22px;
		color: var(--bg-color);
		padding-right: 5px;
		padding-left: 5px;
		background: var(--red-color);
		border-radius: 0px 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		&-hidden {
			display: none;
		}
	}
	&__hit {
		font-weight: 600;
		font-size: 14px;
		line-height: 22px;
		color: var(--bg-color);
		padding-right: 5px;
		padding-left: 5px;
		background: var(--light-blue-color);
		border-radius: 0px 10px;
		position: absolute;
		top: 0;
		right: 0;
		&-hidden {
			display: none;
		}
	}
	&__list {
		width: fit-content;
		border: 1px solid var(--border-color);
		border-radius: 10px;
		padding: 20px 40px 20px 25px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 10px;
		&-category {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			column-gap: 30px;
			row-gap: 20px;
		}
	}
	&__item {
		&:first-child {
			margin-bottom: 5px;
			order: 1 !important;
		}
		&-category {
			position: relative;
			grid-column: 3 span;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			&:nth-child(4n - 3)::after {
				content: "";
				width: 100vw;
				max-width: var(--content-width);
				border-bottom: 1px solid var(--border-color);
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}
	&__label {
		cursor: pointer;
		display: flex;
		align-items: center;
		&-text {
			margin-left: 10px;
			white-space: nowrap;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: var(--darker-blue-color);
		}
	}
	&__input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked ~ .catalog-hero__checkmark::after {
			opacity: 1;
		}
	}
	&__checkmark {
		position: relative;
		width: 16px;
		height: 16px;
		border: 2px solid var(--darker-blue-color);
		background-color: var(--grey-color);
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -57%) rotate(45deg);
			width: 5px;
			height: 10px;
			border: solid black;
			border-width: 0 2px 2px 0;
			transition: opacity 0.3s ease;
			opacity: 0;
		}
	}
	&__content {
		grid-column: 9 span;
		display: flex;
		flex-direction: column;
	}
	&__button {
		display: flex;
		margin-bottom: 30px;
		&-basket {
			margin-top: 15px;
			margin-bottom: 27px;
		}
		&-more {
			margin-top: 15px;
			margin-bottom: 32px;
		}
		&-category {
			width: 100%;
			margin-top: 30px;
		}
	}
	&__icon {
		&-arrow {
			margin-right: 10px;
		}
	}
	&__filters {
		grid-column: 3 span;
		& .catalog-hero__item {
			order: 3;
		}
	}
	&__filter {
		color: var(--dark-blue-color);
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
	}
	&__image {
		height: 100%;
	}
	&__price {
		font-weight: 500;
		font-size: 18px;
		line-height: 122%;
		color: var(--darker-blue-color);
		white-space: nowrap;
		&-old {
			font-weight: 200;
			text-decoration-line: line-through;
		}
	}
	&__descr {
		color: var(--dark-blue-color);
		font-weight: 500;
		font-size: 12px;
		line-height: 130%;
		max-width: 249px;
		margin-top: -5px;
		margin-bottom: 10px;
	}
}

@media (max-width: 1024px) {
	.catalog-hero {
		&__list {
			width: unset;
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			&-title {
				width: 100%;
				margin-bottom: 15px;
			}
			&-category {
				position: relative;
				grid-column: 4 span;
				&:nth-child(3n - 2)::after {
					content: "";
					width: 100vw;
					border-bottom: 1px solid var(--border-color);
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			&:not(:first-child) {
				margin-bottom: 0;
				margin-right: 30px;
			}
		}
		&__button {
			margin-bottom: 50px;
			&-basket {
				width: 100%;
				justify-content: center;
			}
		}
		&__content {
			grid-column: 12 span;
		}
		&__container {
			&-quantity {
				display: none;
				&-hidden {
					display: flex;
					position: absolute;
					bottom: 10px;
					right: 10px;
				}
			}
		}
		&__filters {
			grid-column: 12 span;
		}
	}
}

@media (max-width: 768px) {
	.catalog-hero {
		&__list {
			row-gap: 10px;
		}
		&__item {
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
		&__container {
			&-visible {
				& .catalog-hero {
					&__item-category {
						grid-column: 6 span;
					}
					&__container {
						&-image {
							width: 100%;
						}
					}
					&__button {
						&-category {
							max-width: 222px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 610px) {
	.catalog-hero {
		&__list {
			flex-direction: column;
			row-gap: 15px;
			&-category {
				row-gap: 30px;
				column-gap: 20px;
			}
		}
		&__item {
			&-category {
				grid-column: 6 span;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				&:nth-child(2n-1)::after {
					content: "";
					width: 100vh;
					border-bottom: 1px solid var(--border-color);
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.catalog-hero {
		padding-bottom: 320px;
		&__container {
			&-visible {
				& .catalog-hero {
					&__item-category {
						grid-column: 12 span;
					}
				}
			}
		}
	}
}

@media (max-width: 360px) {
	.catalog-hero {
		&__list {
			flex-direction: column;
			row-gap: 15px;
			&-category {
				column-gap: 10px;
			}
		}
		&__button {
			&-more {
				width: 100%;
			}
		}
		&__container {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

@media (max-width: 345px) {
	.catalog-hero {
		&__list {
			&-category {
				column-gap: 0;
			}
		}
		&__item {
			&-category {
				grid-column: 12 span;
			}
		}
		&__container {
			padding-left: 15px;
			padding-right: 15px;
			column-gap: 0;
			&-inner {
				width: 100%;
			}
		}
	}
}
