.catalog-item-other {
	margin-top: 40px;
	padding-bottom: 150px;
	& .catalog-hero__title-category {
		color: var(--dark-blue-color);
	}
	& .catalog-hero__item-category {
		&::after {
			display: none;
		}
	}
}

@media (min-width: 1025px) and (max-width: 1920px) {
	.catalog-item-other {
		.catalog-hero__item-category {
			grid-column: 3 span;
		}
	}
}
