.catalog-item-stuff {
	margin-top: 40px;
	padding-bottom: 40px;
	&__title {
		margin: 0;
		margin-bottom: 30px;
	}
	& .catalog-hero__item-category {
		&::after {
			display: none;
		}
	}
	& .catalog-hero__title-category {
		color: var(--dark-blue-color);
	}
}

@media (min-width: 1025px) and (max-width: 1920px) {
	.catalog-item-stuff {
		.catalog-hero__item-category {
			grid-column: 3 span;
		}
	}
}
