.cleaning-hero {
	&__container {
		padding-bottom: 315px;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 30px;
	}
	&__item {
		grid-column: 4 span;
		padding: 20px;
		background: var(--grey-color);
		border: 1px solid var(--border-color);
		box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}
	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		text-align: center;
		margin-top: 15px;
		margin-bottom: 0;
	}
}

@media (max-width: 1024px) {
	.cleaning-hero {
		&__container {
			padding-bottom: 120px;
		}
	}
}

@media (max-width: 768px) {
	.cleaning-hero {
		&__item {
			grid-column: 6 span;
			&:last-child {
				grid-column: 12 span;
				justify-self: center;
				min-width: 410px;
				min-height: 170px;
			}
		}
	}
}

@media (max-width: 480px) {
	.cleaning-hero {
		&__item {
			grid-column: 12 span;
			&:last-child {
				min-width: unset;
				min-height: unset;
				justify-self: unset;
			}
		}
	}
}

@media (max-width: 360px) {
	.cleaning-hero {
		&__container {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__list {
			gap: 24px;
		}
	}
}
