.contacts-hero {
	&__container {
		padding-bottom: 150px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 30px;
		gap: 55px;
	}
	&__title {
		margin: 0;
		margin-bottom: 30px;
		&-hidden {
			display: none;
		}
	}
	&__subtitle {
		margin: 0;
		color: var(--light-blue-color);
		margin-bottom: 5px;
	}
	&__descr {
		margin: 0;
		margin-top: 5px;
		&-link {
			color: var(--dark-blue-color);
		}
		&-download {
			text-decoration: underline;
		}
		&:last-child {
			margin-top: 0;
		}
	}
	&__list {
		padding-left: 39px;
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&:not(:first-child) {
			margin-top: 25px;
		}
		&-iconless {
			margin-top: 15px !important;
		}
	}
	&__icon {
		position: absolute;
		top: 50%;
		left: -24px;
		transform: translate(-50%, -50%);
	}
	&__map {
		position: relative;
		max-width: 740px;
		width: 100%;
		height: 400px;
		filter: drop-shadow(-63.3888px 84.958px 80px rgba(0, 0, 0, 0.02768))
			drop-shadow(-38.7987px 52.0007px 41.728px rgba(0, 0, 0, 0.04384))
			drop-shadow(-21.6718px 29.046px 19.584px rgba(0, 0, 0, 0.05616))
			drop-shadow(-10.8598px 14.5551px 8.576px rgba(0, 0, 0, 0.07232))
			drop-shadow(-5.21463px 6.989px 3.712px rgba(0, 0, 0, 0.1));
		& > ymaps {
			border-radius: 15px;
			overflow: hidden;
		}
	}
}

@media (max-width: 1024px) {
	.contacts-hero {
		&__container {
			position: relative;
			padding-left: 50px;
			padding-right: 50px;
		}
		&__icon {
			top: 0;
			transform: translate(-50%);
		}
		&__map {
			width: 540px;
			height: 498px;
		}
		&__descr {
			max-width: 290px;
		}
	}
}

@media (max-width: 768px) {
	.contacts-hero {
		&__title {
			display: none;
			&-hidden {
				display: block;
				margin-bottom: 0;
			}
		}
		&__map {
			width: 100%;
			height: 315px;
		}
		&__container {
			flex-wrap: wrap;
			justify-content: flex-start;
			row-gap: 30px;
			&-list {
				order: 2;
			}
		}
		&__descr {
			max-width: unset;
		}
	}
}
