.coop-hero {
	padding-bottom: 150px;
	&__container {
		position: relative;
		display: flex;
		gap: 30px;
		&-advantages {
			& .coop-hero__text {
				&:not(:first-of-type) {
					margin-top: 4px;
				}
				&:first-of-type {
					margin-top: 10px;
				}
			}
		}
	}
	&__image {
		border-radius: 15px;
		height: 412px;
		filter: drop-shadow(-63.3888px 84.958px 80px rgba(0, 0, 0, 0.02768))
			drop-shadow(-38.7987px 52.0007px 41.728px rgba(0, 0, 0, 0.04384))
			drop-shadow(-21.6718px 29.046px 19.584px rgba(0, 0, 0, 0.05616))
			drop-shadow(-10.8598px 14.5551px 8.576px rgba(0, 0, 0, 0.07232))
			drop-shadow(-5.21463px 6.989px 3.712px rgba(0, 0, 0, 0.1));
	}
	&__title {
		margin: 0;
		&-main {
			margin-bottom: 30px;
		}
		&-blue {
			color: var(--light-blue-color);
		}
	}
	&__subtitle {
		margin: 0;
		margin-top: 15px;
	}
	&__text {
		margin: 0;
		&-shorter {
			max-width: 511px;
		}
	}
	&__button {
		margin-top: 60px;
	}
	&__advantages {
		margin-top: 14px;
		max-width: 628px;
	}
}

@media (max-width: 1024px) {
	.coop-hero {
		&__advantages {
			margin-top: 0;
		}
		&__container {
			padding-left: 50px;
			padding-right: 50px;
		}
		&__text {
			&-shorter {
				max-width: 447px;
			}
		}
	}
}

@media (max-width: 768px) {
	.coop-hero {
		&__image {
			height: 370px;
			width: 768px;
		}
		&__container {
			flex-wrap: wrap;
		}
		&__text {
			&-shorter {
				max-width: 100%;
			}
		}
		&__advantages {
			max-width: 100%;
		}
	}
}

@media (max-width: 480px) {
	.coop-hero {
		&__container {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
}
