.hero-404 {
	background: url("../img/404bg.png");
	background-size: cover;
	&__container {
		padding-top: 189px;
		padding-bottom: 297px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-weight: 700;
		font-size: 130px;
		line-height: 100%;
		color: var(--light-blue-color);
		margin: 0;
	}
	&__subtitle {
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		color: var(--dark-blue-color);
		margin-top: 16px;
		margin-bottom: 0;
		max-width: 459px;
		text-align: center;
	}
	&__button {
		margin-top: 61px;
	}
}
