.main-advantages {
	margin-top: 75px;
	padding-bottom: 136px;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		&-icon {
			min-width: 70px;
			min-height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: var(--dark-blue-color);
			box-shadow: -84.8448px 61.8576px 80px rgba(0, 0, 0, 0.0285938),
				-62.8129px 45.7949px 53.9219px rgba(0, 0, 0, 0.04875),
				-44.9475px 32.7698px 34.875px rgba(0, 0, 0, 0.0632813),
				-30.8699px 22.5062px 21.6406px rgba(0, 0, 0, 0.075),
				-20.2011px 14.728px 13px rgba(0, 0, 0, 0.0867188),
				-12.5626px 9.15897px 7.73438px rgba(0, 0, 0, 0.10125),
				-7.57543px 5.523px 4.625px rgba(0, 0, 0, 0.121406),
				-4.8609px 3.54392px 2.45312px rgba(0, 0, 0, 0.15);
			border-radius: 15px;
			margin-right: 30px;
		}
	}
	&__title {
		max-width: 736px;
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 0;
		margin-bottom: 10px;
	}
	&__logo {
		margin-bottom: 80px;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 86px;
		row-gap: 30px;
	}
	&__item {
		display: flex;
		align-items: flex-start;
		grid-column: 4 span;
	}
	&__text {
		max-width: 255px;
	}
}

@media (max-width: 1024px) {
	.main-advantages {
		&__container {
			padding-left: 50px;
			padding-right: 50px;
		}
		&__title {
			font-weight: 600;
			font-size: 28px;
			line-height: 30px;
		}
		&__logo {
			max-width: 194px;
			margin-bottom: 40px;
		}
		&__container {
			&-icon {
				margin-right: 20px;
			}
		}
		&__list {
			column-gap: 30px;
			row-gap: 25px;
		}
		&__text {
			font-size: 14px;
			line-height: 19px;
		}
	}
}

@media (max-width: 768px) {
	.main-advantages {
		padding-bottom: 50px;
		&__container {
			padding-bottom: 0;
		}
		&__list {
			gap: 30px;
		}
		&__item {
			grid-column: 6 span;
			max-width: 290px;
		}
	}
}

@media (max-width: 480px) {
	.main-advantages {
		padding-bottom: 30px;
		&__container {
			padding-left: 20px;
			padding-right: 20px;
		}
		&__list {
			row-gap: 20px;
		}
		&__item {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
			align-items: center;
		}
		&__container {
			&-icon {
				margin-right: 0;
			}
		}
		&__text {
			text-align: center;
		}
	}
}

@media (max-width: 360px) {
	.main-advantages {
		&__list {
			row-gap: 30px;
			column-gap: 0;
		}
		&__item {
			grid-column: 12 span;
		}
	}
}
