.main-hero {
	padding-top: 93px;
	&__container {
		padding-bottom: 69px;
		&-pagination {
			width: 100%;
			margin-top: 62px;
			display: flex;
			justify-content: center;
		}
	}
	&__slider {
		background: var(--grey-color);
		position: relative;
		box-shadow: -63.3888px 84.958px 80px rgba(0, 0, 0, 0.02768),
			-38.7987px 52.0007px 41.728px rgba(0, 0, 0, 0.04384),
			-21.6718px 29.046px 19.584px rgba(0, 0, 0, 0.05616),
			-10.8598px 14.5551px 8.576px rgba(0, 0, 0, 0.07232),
			-5.21463px 6.989px 3.712px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		border: 1px solid var(--border-color);
	}
	&__slide {
		position: relative;
		z-index: 100;
		padding: 43px 39px 43px 55px;
		background: var(--grey-color);
		border-radius: 20px;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
	}
	&__pagination {
		display: block;
		position: relative;
		max-width: 408px;
		background-color: var(--darker-grafite-color);
		&::before,
		&::after {
			position: absolute;
			font-family: "Nunito Sans";
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			color: var(--darker-blue-color);
			top: 50%;
			transform: translateY(-50%);
		}
		&::before {
			content: "01";
			left: -34px;
		}
		&::after {
			content: "03";
			right: -34px;
		}
	}
	&__image {
		opacity: 0;
		filter: drop-shadow(
				-90.0271px 71.5551px 80px rgba(38, 38, 38, 0.0266875)
			)
			drop-shadow(-67.6151px 53.7417px 53.9219px rgba(38, 38, 38, 0.0455))
			drop-shadow(
				-49.4415px 39.297px 34.875px rgba(38, 38, 38, 0.0590625)
			)
			drop-shadow(-35.1209px 27.9147px 21.6406px rgba(38, 38, 38, 0.07))
			drop-shadow(-24.2682px 19.2888px 13px rgba(38, 38, 38, 0.0809375))
			drop-shadow(-16.4978px 13.1128px 7.73438px rgba(38, 38, 38, 0.0945))
			drop-shadow(-11.4246px 9.08049px 4.625px rgba(38, 38, 38, 0.113312))
			drop-shadow(-8.66327px 6.88572px 2.45312px rgba(38, 38, 38, 0.14));
		&-logo {
			margin-bottom: 14px;
		}
	}
	&__content {
		max-width: 590px;
		margin-top: 17px;
	}
	&__title {
		margin: 0;
		margin-bottom: 20px;
	}
	&__subtitle {
		color: var(--darker-blue-color);
		margin: 0;
		margin-bottom: 58px;
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__button {
		min-width: 179px;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}
