.main-banner {
	margin-top: 50px;
	padding-bottom: 120px;
	&__container {
		background-image: url("../img/main-banner-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
		padding: 60px 0 90px 110px;
		border-radius: 20px;
		border: 1px solid var(--border-color);
		box-shadow: -63.3888px 84.958px 80px rgba(0, 0, 0, 0.02768),
			-38.7987px 52.0007px 41.728px rgba(0, 0, 0, 0.04384),
			-21.6718px 29.046px 19.584px rgba(0, 0, 0, 0.05616),
			-10.8598px 14.5551px 8.576px rgba(0, 0, 0, 0.07232),
			-5.21463px 6.989px 3.712px rgba(0, 0, 0, 0.1);
	}
	&__title {
		margin: 0;
		margin-bottom: 9px;
	}
	&__subtitle {
		color: var(--light-blue-color);
		margin: 0;
		margin-bottom: 120px;
	}
}

@media (max-width: 1024px) {
	.main-banner {
		margin-top: 35px;
		padding-bottom: 270px;
		& .container {
			padding-left: 50px;
			padding-right: 50px;
		}
		&__container {
			padding: 43px 78px 56px;
			background-position: top;
		}
		&__title {
			font-weight: 600;
			font-size: 32.5116px;
			line-height: 40px;
		}
		&__subtitle {
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 84px;
		}
	}
}

@media (max-width: 768px) {
	.main-banner {
		padding-bottom: 200px;
		&__container {
			padding: 28px 34px 48px;
		}
		&__subtitle {
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 480px) {
	.main-banner {
		margin-top: 30px;
		padding-bottom: 30px;
		& .container {
			padding-left: 20px;
			padding-right: 20px;
		}
		&__container {
			padding: 20px 10px 30px;
			background-image: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			box-shadow: none;
		}
		&__title {
			text-align: center;
			font-weight: 600;
			font-size: 28px;
			line-height: 30px;
		}
		&__subtitle {
			text-align: center;
		}
	}
}

@media (max-width: 360px) {
	.main-banner {
		margin-top: 25px;
		padding-bottom: 25px;
	}
}
