.main-place {
	margin-top: 50px;
	padding-bottom: 75px;
	&__container {
		padding: 59px 175px;
		background: url("../img/main-place-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
		border: 1px solid var(--border-color);
		box-shadow: -63.3888px 84.958px 80px rgba(0, 0, 0, 0.02768),
			-38.7987px 52.0007px 41.728px rgba(0, 0, 0, 0.04384),
			-21.6718px 29.046px 19.584px rgba(0, 0, 0, 0.05616),
			-10.8598px 14.5551px 8.576px rgba(0, 0, 0, 0.07232),
			-5.21463px 6.989px 3.712px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&-icon {
			width: 70px;
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: var(--dark-blue-color);
			box-shadow: -90.0271px 71.5551px 80px rgba(38, 38, 38, 0.0266875),
				-67.6151px 53.7417px 53.9219px rgba(38, 38, 38, 0.0455),
				-49.4415px 39.297px 34.875px rgba(38, 38, 38, 0.0590625),
				-35.1209px 27.9147px 21.6406px rgba(38, 38, 38, 0.07),
				-24.2682px 19.2888px 13px rgba(38, 38, 38, 0.0809375),
				-16.4978px 13.1128px 7.73438px rgba(38, 38, 38, 0.0945),
				-11.4246px 9.08049px 4.625px rgba(38, 38, 38, 0.113312),
				-8.66327px 6.88572px 2.45312px rgba(38, 38, 38, 0.14);
			border-radius: 15px;
		}
	}
	&__title {
		max-width: 633px;
		margin: 0;
		margin-bottom: 28px;
		text-align: center;
	}
	&__subtitle {
		margin: 0;
		margin-bottom: 78.5px;
		color: var(--light-blue-color);
		text-align: center;
		max-width: 797px;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 70px;
	}
	&__item {
		grid-column: 4 span;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}
	&__text {
		margin: 0;
		text-align: center;
		white-space: nowrap;
	}
}

@media (max-width: 1024px) {
	.main-place {
		margin-top: 30px;
		padding-bottom: 35px;
		&__text {
			white-space: unset;
		}
		&__title {
			font-weight: 600;
			font-size: 28px;
			line-height: 34px;
			margin-bottom: 17px;
			max-width: 400px;
		}
		&__list {
			gap: 30px;
		}
		&__subtitle {
			font-weight: 600;
			font-size: 20px;
			line-height: 25px;
			margin-bottom: 50px;
		}
		&__container {
			padding: 40px;
			background-image: none;
		}
	}
}

@media (max-width: 768px) {
	.main-place {
		&__text {
			font-family: "Nunito Sans", sans-serif;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			max-width: 166px;
		}
	}
}

@media (max-width: 480px) {
	.main-place {
		padding-bottom: 30px;
		&__item {
			grid-column: 12 span;
			column-gap: 0;
			row-gap: 10px;
		}
		&__text {
			max-width: unset;
		}
		&__container {
			background: none;
			border: none;
			padding: 20px;
			box-shadow: none;
		}
		&__title {
			font-weight: 600;
			font-size: 20px;
			line-height: 25px;
		}
		&__subtitle {
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
		}
		&__text {
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
		}
	}
}

@media (max-width: 360px) {
	.main-place {
		margin-top: 25px;
		padding-bottom: 25px;
		&__container {
			background: var(--grey-color);
			border: 1px solid var(--border-color);
		}
	}
}
