.nav {
	position: relative;
	z-index: 30;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 24px;
	padding-bottom: 25px;
	box-shadow: 0px 102px 80px rgba(0, 0, 0, 0.012037),
		0px 66.8148px 46.8519px rgba(0, 0, 0, 0.0196296),
		0px 40.5185px 25.4815px rgba(0, 0, 0, 0.025),
		0px 22px 13px rgba(0, 0, 0, 0.0303704),
		0px 10.1481px 6.51852px rgba(0, 0, 0, 0.037963),
		0px 3.85185px 3.14815px rgba(0, 0, 0, 0.05);

	// anim styles
	box-sizing: content-box;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	will-change: max-height;
	transition: all 0.4s ease-out;
	&-open {
		opacity: 1;
		padding-top: 24px;
		padding-bottom: 25px;
		max-height: fit-content;
	}
	// anim styles end

	&__list {
		display: flex;
		align-items: center;
		row-gap: 8px;
		column-gap: 30px;
		&-inner {
			background: var(--grey-color);
			padding: 35px 20px 20px 15px;
			position: absolute;
			left: -15px;
			top: 17px;
			border-radius: 0px 0px 10px 10px;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
			z-index: 40;
			&:hover {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__item {
		position: relative;
		text-align: center;
		&-inner {
			text-align: start;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		color: var(--darker-blue-color);
		&-active {
			text-decoration: underline;
			color: var(--light-blue-color);
		}
		&-inner {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: var(--dark-blue-color);
			white-space: nowrap;
			transition: color 0.3s ease-out;
			&:hover {
				color: var(--blue-color);
			}
		}
		&-cleaning:hover + .nav__list-inner {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media (max-width: 768px) {
	.nav {
		&-open {
			padding-top: 10px;
			padding-bottom: 18px;
		}
		&__list {
			flex-wrap: wrap;
			justify-content: center;
			column-gap: 20px;
		}
		&__link {
			font-size: 14px;
		}
	}
}

@media (max-width: 480px) {
	.nav {
		display: none;
	}
}
