.news-card {
	padding-bottom: 250px;
	&__article {
		max-width: 1070px;
	}
	&__title {
		margin: 0;
		margin-bottom: 30px;
	}
	&__image {
		margin: 30px 0;
		margin-top: 22px;
	}
	&__text {
		margin: 0;
		margin-bottom: 8px;
		color: var(--darker-blue-color);
		line-height: 23px;
	}
}
