.quiz {
	&__main {
		padding-top: 0;
	}
	&__body {
		background: var(--white-color);
	}
	&__container {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1110px;
		padding-top: 15px;
		padding-bottom: 15px;
		&-control {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 28px;
		}
		&-buttons {
			display: flex;
			padding: 6px;
		}
		&-quantity {
			display: flex;
			align-items: center;
		}
		&-text-inputs {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__slider {
		&-container {
			position: relative;
			border-radius: 15px;
			background: var(--grey-color);
			width: 100%;
			border: 1px solid var(--border-color);
			box-shadow: -63.3888px 84.958px 80px rgba(0, 0, 0, 0.02768),
				-38.7987px 52.0007px 41.728px rgba(0, 0, 0, 0.04384),
				-21.6718px 29.046px 19.584px rgba(0, 0, 0, 0.05616),
				-10.8598px 14.5551px 8.576px rgba(0, 0, 0, 0.07232),
				-5.21463px 6.989px 3.712px rgba(0, 0, 0, 0.1);
		}
		&-inner {
			position: relative;
		}
	}
	&__slide {
		border-radius: 15px;
		min-height: 610px;
		background: url("../img/quiz-bg-colorless.png");
		background-repeat: no-repeat;
		background-size: cover;
		&:nth-child(1) {
			background: url("../img/quiz-bg.png");
		}
		padding: 58px 110px 81px;
		box-sizing: border-box;
		z-index: 10;
		&-last {
			background: url("../img/last-slide-bg.png");
			background-size: cover;
		}
	}
	&__logo {
		&-first {
			margin-bottom: 105px;
		}
	}
	&__title {
		margin: 0;
		&-main {
			margin-bottom: 20px;
			max-width: 417px;
		}
		&-inner {
			color: var(--darker-blue-color);
			margin-bottom: 40px;
		}
		&-pagination {
			margin: 0;
			margin-bottom: 12.5px;
			color: var(--light-blue-color);
		}
		&-quantity {
			margin-bottom: 20px;
		}
		&-last {
			max-width: 430px;
			margin-bottom: 15px;
		}
	}
	&__text {
		margin: 0;
		&-main {
			margin-bottom: 40px;
			color: var(--dark-blue-color);
			max-width: 343px;
		}
		&-header {
			color: var(--darker-blue-color);
			margin-left: 31px;
		}
		&-inner {
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			color: var(--dark-blue-color);
			margin-left: 10px;
			&-quantity {
				margin-left: 0;
				max-width: 120px;
			}
		}
	}
	&__wrapper {
		&-inner {
			min-height: 350px;
		}
	}
	&__button {
		&-close {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 100;
		}
		&-control {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
	&__header {
		display: flex;
		align-items: flex-start;
		margin-bottom: 60px;
		&-last {
			margin-bottom: 30px;
		}
	}
	&__input {
		&-radio {
			appearance: none;
			position: absolute;
			opacity: 0;
			display: block;
			height: 0;
			width: 0;
			&:checked + .quiz__checkmark::after {
				opacity: 1;
			}
		}
		&-quantity {
			&:checked + .quiz__label-quantity {
				background: transparent;
				color: var(--light-blue-color);
				&::after {
					opacity: 1;
				}
			}
		}
		&-text {
			background: var(--white-color);
			position: relative;
			display: block;
			z-index: 10;
			background: var(--white-color);
			border: 1px solid var(--dark-blue-color);
			border-radius: 10px;
			padding: 9px 20px;
			min-width: 410px;
			font-family: "Nunito Sans", sans-serif;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			outline: none;
			transition: border 0.3s ease;
			&::placeholder {
				color: var(--darker-grafite-color);
				font-family: "Nunito Sans", sans-serif;
				font-weight: 400;
				font-size: 18px;
				line-height: 22px;
			}
			&:invalid {
				border: 1px solid var(--red-color);
			}
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			&:last-child {
				margin-bottom: 42px;
			}
		}
		&-tab {
			max-width: 100%;
			width: 100%;
			margin-top: 10px;
			border: 1px solid var(--border-color);
			padding-left: 50px;
			&-tg {
				background: url("../img/tg-icon.svg") var(--white-color)
					no-repeat 20px;
			}
			&-mail {
				background: url("../img/mail-icon.svg") var(--white-color)
					no-repeat 20px;
			}
			&-wa {
				background: url("../img/whatsup-icon.svg") var(--white-color)
					no-repeat 20px;
			}
		}
	}
	&__list {
		&-base {
			display: flex;
			column-gap: 30px;
			flex-wrap: wrap;
		}
		&-time {
			flex-wrap: wrap;
			row-gap: 20px;
		}
		&-quantity {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: 20px 30px;
		}
		&-inputs {
			display: flex;
			position: relative;
			&::before {
				content: "";
				height: 40px;
				width: 1px;
				background-color: var(--dark-blue-color);
				position: absolute;
				top: 50%;
				left: -15px;
				transform: translateY(-50%);
			}
		}
		&-wrap {
			flex-wrap: wrap;
			row-gap: 25px;
		}
		&-gift {
			column-gap: 15px;
		}
		&-tabs {
			display: flex;
			justify-content: space-between;
		}
	}
	&__content {
		max-width: 440px;
	}
	&__btn {
		position: relative;
		padding: 10px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--darker-grafite-color);
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		background: var(--white-color);
		border: 1px solid var(--border-color);
		border-radius: 10px;
		transition: background 0.3s ease, color 0.3s ease;
		box-sizing: border-box;
		height: 40px;
		&-active {
			background: var(--dark-blue-color);
			color: var(--white-color);
			&::after {
				display: none;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 10px;
			border: 4px solid var(--light-blue-color);
			transition: opacity 0.3s ease;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}
	&__panel {
		display: none;
		&-active {
			display: block;
			margin-bottom: 66px;
		}
	}
	&__item {
		&-quantity {
			border: 2px solid var(--light-blue-color);
			border-radius: 10px;
			grid-column: 6 span;
			padding: 10px 12px;
			padding-right: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-input {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
	&__label {
		display: flex;
		align-items: center;
		padding: 20px;
		min-width: 230px;
		border: 2px solid var(--light-blue-color);
		border-radius: 10px;
		box-sizing: border-box;
		cursor: pointer;
		&-time {
			min-width: 440px;
		}
		&-quantity {
			position: relative;
			cursor: pointer;
			background: #d9d9d9;
			border-radius: 4px;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			color: var(--dark-blue-color);
			width: 20px;
			height: 20px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			transition: background 0.3s ease, color 0.3s ease;
			&::after {
				content: "";
				width: 16px;
				height: 16px;
				border-radius: 4px;
				border: 2px solid var(--light-blue-color) !important;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				transition: opacity 0.3s ease, border 0.3s ease;
			}
			&:hover {
				&::after {
					opacity: 1;
					border: 2px solid var(--blue-color);
				}
			}
		}
		&-montazh {
			min-width: fit-content;
		}
	}
	&__checkmark {
		position: relative;
		display: block;
		width: 24px;
		height: 24px;
		border: 2px solid var(--light-blue-color);
		border-radius: 100%;
		box-sizing: border-box;
		&::after {
			transition: opacity 0.3s ease-out;
			content: "";
			width: 14px;
			height: 14px;
			background: var(--light-blue-color);
			border-radius: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
		}
	}
	&__pagination {
		display: block;
		position: relative;
		background-color: var(--darker-grafite-color);
		min-width: 320px;
	}
	&__icon {
		&-list {
			margin-right: 18px;
		}
		&-tabs {
			margin-right: 10px;
		}
	}
	&__tabs {
		max-width: 440px;
	}
	&__radio {
		&-design {
			&::before {
				width: 16px;
				height: 16px;
			}
		}
	}
	& .main-design__radio::before {
		width: 16px;
		height: 16px;
	}
}

@media (max-width: 1024px) {
	.quiz {
		&__slide {
			padding: 45px 76px 32px;
		}
		&__list {
			&-base {
				gap: 20px;
			}
		}
	}
}

@media (max-width: 768px) {
	.quiz {
		&__list {
			&-inputs {
				&::before {
					content: none;
				}
			}
			&-quantity {
				gap: 10px;
			}
		}
		&__slide {
			padding: 36px 26px;
		}
		&__item {
			&-quantity {
				flex-direction: column;
				justify-content: center;
				row-gap: 14px;
			}
		}
		&__container {
			&-control {
				flex-wrap: wrap;
				row-gap: 14px;
			}
		}
		&__label {
			&-time {
				min-width: unset;
			}
		}
	}
}

@media (max-width: 655px) {
	.quiz {
		& .main-design__container-row:last-child {
			row-gap: 36px;
			padding-bottom: 16px;
		}
	}
}

@media (max-width: 500px) {
	.quiz {
		&__list {
			&-quantity {
				column-gap: 0;
			}
		}
		&__item {
			&-quantity {
				grid-column: 12 span;
			}
		}
	}
}

@media (max-width: 480px) {
	.quiz {
		&__input {
			&-text {
				min-width: 100%;
			}
		}
		&__list {
			&-tabs {
				flex-wrap: wrap;
				justify-content: unset;
				gap: 8px;
			}
		}
		&__header {
			flex-wrap: wrap;
			row-gap: 12px;
		}
		&__text {
			&-header {
				margin-left: 0;
			}
		}
	}
}
