<section class="about-hero">
	<div class="container about-hero__container">
		<div class="about-hero__container-banner">
			<h1 class="about-hero__title title__h1">
				Gol<span class="about-hero__title-blue">d</span>rye technology
			</h1>
			<h4 class="about-hero__subtitle title__h4">
				Профессионалы в области производства и монтажа автономных
				канализаций
			</h4>
			<ul class="about-hero__stats list-reset">
				<li class="about-hero__stat">
					<h2 class="about-hero__title-stat title__h2">15+ лет</h2>
					<h4 class="about-hero__subtitle-stat title__h4">
						опыт работы
					</h4>
				</li>
				<li class="about-hero__stat">
					<h2 class="about-hero__title-stat title__h2">
						1000+ клиентов
					</h2>
					<h4 class="about-hero__subtitle-stat title__h4">
						доверяют нам по всей России
					</h4>
				</li>
			</ul>
		</div>
	</div>
	<div class="container about-hero__container about-hero__container-text">
		<div class="about-hero__container-article">
			<p class="about-hero__text title__text">
				Все, что мы делаем в нашей компании Goldrye technologygy
				основывается из накопленного нами многолетнего опыта. Мы каждый
				день боремся и стремимся к инновациям, чтобы найти новые решения
				для Вашего качественного проживания на Вашем участке.
			</p>
			<p class="about-hero__text title__text">
				Goldrye technologygy — это современные технологии загородного
				дома доступные каждому! Мы предлагаем своим клиентам
				энергосберегающие, экологичные и простые решениядля очистки
				бытовых стоков.
			</p>
			<p class="about-hero__text title__text">
				Goldrye technologygy это предприятие с 15 летним опытом.
				Производство и монтаж систем очистки бытовых и технических
				стоков -ключевая специализация нашей компании. Наша продукция
				отличается высокими показателями энергоэфективности и качеством
				очистки, а также обладает завидной репутацией по
				производительности, качеству и надежности.
			</p>
			<p class="about-hero__text title__text">
				Компания Goldrye technologygy стремится ежедневно оправдывать
				доверие своих клиентов и сотрудников, ведь вместе мы можем
				добиться невероятных результатов. Наша репутация основывается на
				надежности, и мы держим свое слово. Наша деятельность прозрачна,
				и мы всегда прилагаем усилия, чтобы выполнять свои
				обязательства.
			</p>
			<p class="about-hero__text title__text">
				Наши канализации Goldrye установлены в свыше 1000 домов и
				коттеджей по всей России. С каждым днем нам доверяют больше.
			</p>
		</div>
		<picture>
			<source srcset="./img/about-image.webp" type="image/webp" />
			<img
				loading="lazy"
				src="./img/about-image.png"
				class="image about-hero__image"
				width="520"
				height="520"
				alt="Изображение совещания"
			/>
		</picture>
	</div>
</section>
