<section class="basket-hero">
	<div class="container basket-hero__container-main">
		<h3 class="basket-hero__title title__h3">
			Корзина: <span class="basket-hero__title-blue">2 товара</span>
		</h3>
	</div>
	<div class="container basket-hero__container basket-hero__container-main">
		<ul class="basket-hero__list list-reset">
			<li class="basket-hero__item">
				<div class="basket-hero__container-left">
					<picture>
						<source
							srcset="./img/product-1.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/product-1.png"
							class="image basket-hero__image"
							width="190"
							height="152"
							alt="Изображение товара"
						/>
					</picture>
					<div class="basket-hero__container-text">
						<h4 class="basket-hero__subtitle title__h4">
							GoldRye 8 Pro
						</h4>
						<ul class="basket-hero__descr list-reset">
							<li class="basket-hero__item-descr title__text">
								Очищение до 1600 л/сут
							</li>
							<li class="basket-hero__item-descr title__text">
								Для постоянного проживания семьи до 8 человек
							</li>
						</ul>
					</div>
				</div>
				<div class="basket-hero__container-right">
					<div class="basket-hero__container-prices">
						<h4 class="basket-hero__price title__h4">232 900 ₽</h4>
						<h4
							class="basket-hero__price title__h4 basket-hero__price-old"
						>
							290 900 ₽
						</h4>
					</div>
					<button class="btn-reset basket-hero__button">
						<span>Удалить</span>
						<img
							loading="lazy"
							src="./img/delete.svg"
							class="image basket-hero__icon-delete"
							width="14"
							height="18"
							alt="Иконка удалить"
						/>
					</button>
				</div>
			</li>
			<li class="basket-hero__item">
				<div class="basket-hero__container-left">
					<picture>
						<source
							srcset="./img/product-2.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/product-2.png"
							class="image basket-hero__image"
							width="190"
							height="152"
							alt="Изображение товара"
						/>
					</picture>
					<div class="basket-hero__container-text">
						<h4 class="basket-hero__subtitle title__h4">
							Шеф монтаж
						</h4>
						<ul class="basket-hero__descr list-reset">
							<li class="basket-hero__item-descr title__text">
								Монтаж системы очистки под контролем нашего
								специалиста
							</li>
						</ul>
					</div>
				</div>
				<div class="basket-hero__container-right">
					<div class="basket-hero__container-prices">
						<h4 class="basket-hero__price title__h4">14 900 ₽</h4>
					</div>
					<button class="btn-reset basket-hero__button">
						<span>Удалить</span>
						<img
							loading="lazy"
							src="./img/delete.svg"
							class="image basket-hero__icon-delete"
							width="14"
							height="18"
							alt="Иконка удалить"
						/>
					</button>
				</div>
			</li>
		</ul>
		<div class="basket-hero__result">
			<div>
				<h3
					class="basket-hero__title basket-hero__title-result title__h3"
				>
					<span class="basket-hero__title-word">Итого</span>
					<span class="basket-hero__title-price">247 800 ₽</span>
				</h3>
				<div class="basket-hero__countings">
					<p class="basket-hero__counting">
						<span class="basket-hero__counting-name">
							2 товара на сумму
						</span>
						<span class="basket-hero__counting-price">
							305 800 ₽
						</span>
					</p>
					<p
						class="basket-hero__counting basket-hero__counting-negative"
					>
						<span class="basket-hero__counting-name">
							Сумма скидок и акций
						</span>
						<span class="basket-hero__counting-price">
							— 58 000 ₽
						</span>
					</p>
				</div>
				<button
					class="basket-hero__button-order btn-reset button button__primary"
				>
					перейти к оформлению
				</button>
			</div>
		</div>
	</div>
	<div class="container basket-hero__container-hidden">
		<img
			loading="lazy"
			src="./img/empty-basket.svg"
			class="image basket-hero__icon-basket"
			width="169"
			height="153"
			alt="Иконка пустой корзины"
		/>
		<h3 class="basket-hero__title basket-hero__title-hidden title__h3">
			В корзине пока ничего нет
		</h3>
		<a
			href="./catalog.html"
			class="btn-reset button button__secondary basket-hero__button-hidden"
		>
			перейти в каталог
		</a>
	</div>
</section>
