<section class="catalog-item-tabs">
	<div class="container catalog-item-tabs__container">
		<div class="tabs" data-tabs="tab">
			<ul class="catalog-item-tabs__list list-reset">
				<li class="catalog-item-tabs__item">
					<button
						class="catalog-item-tabs__btn btn-reset title__h4"
						type="button"
					>
						Характеристики
					</button>
				</li>
				<li class="catalog-item-tabs__item">
					<button
						class="catalog-item-tabs__btn btn-reset title__h4"
						type="button"
					>
						Преимущества
					</button>
				</li>
				<li
					class="catalog-item-tabs__item catalog-item-tabs__btn-active"
				>
					<button
						class="catalog-item-tabs__btn btn-reset title__h4"
						type="button"
					>
						Документация
					</button>
				</li>
				<li class="catalog-item-tabs__item">
					<button
						class="catalog-item-tabs__btn btn-reset title__h4"
						type="button"
					>
						Монтаж-сервис
					</button>
				</li>
				<li class="catalog-item-tabs__item">
					<button
						class="catalog-item-tabs__btn btn-reset title__h4"
						type="button"
					>
						Оплата и доставка
					</button>
				</li>
			</ul>
			<div class="catalog-item-tabs__content">
				<div class="catalog-item-tabs__panel">
					<ul class="catalog-item-tabs__list-specif list-reset">
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Душ
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Ванна
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Душ
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Посудомоечная машина
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Стиральная машина
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Производительность
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Душ
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Объем залпового сброса, л/час
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Количество пользователей, чел
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Возможность заглубления подводящего
								трубопровода, мм
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Глубина подводящего трубопровода, мм
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Размеры (ширина/глубина/высота), мм
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Количество блоков (емкостей) в станции, шт
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Энергопотребление, кВт/сут
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Масса, кг
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Кухонный сток
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Туалет
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Измельчитель бытовых отходов
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Ванная средняя 170см на 60 см
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Джакузи, большая ванная (более 180 см и шире 60
								см)
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Сток от промывных вод водоподготовки, не
								содержащей хлора (марганца)
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Испортившиеся продукты
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
						<li class="catalog-item-tabs__item-spec">
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Сток от конденсатного котла
							</span>
							<span
								class="title__text catalog-item-tabs__text-spec"
							>
								Значение
							</span>
						</li>
					</ul>
				</div>
				<div class="catalog-item-tabs__panel">
					<ul class="catalog-item-tabs__list-adv list-reset">
						<li class="catalog-item-tabs__item-adv">
							<img
								src="./img/adv-1.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сделано из композитных материалов
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								src="./img/adv-2.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Срок эксплуатации более 50&nbsp;лет
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								src="./img/adv-3.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сервис без въезда ассенизатора на участок
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								src="./img/adv-4.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Не боится отключения электричества
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								src="./img/adv-5.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Очищенной водой можно поливать
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								src="./img/adv-6.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Залповый сброс до 750 л (модели PRO)
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								src="./img/adv-7.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сливайте любой бытовой сток, от умягчителя и
								котла
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								src="./img/adv-8.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Не требует добавления бактерий
							</span>
						</li>
					</ul>
					<div class="catalog-item-tabs__container-adv">
						<h3 class="catalog-item-tabs__title title__h3">
							Преимущества композитного материала
						</h3>
						<ul
							class="catalog-item-tabs__list-adv catalog-item-tabs__list-adv-bottom list-reset"
						>
							<li
								class="catalog-item-tabs__item-adv catalog-item-tabs__item-adv-bottom"
							>
								<img
									src="./img/adv-9.svg"
									class="image catalog-item-tabs__icon-adv"
									width="70"
									height="70"
									alt="Иконка преимущества"
								/>
								<span
									class="catalog-item-tabs__text title__text"
								>
									Прочность сопоставима с показателями
									прочности стали
								</span>
							</li>
							<li
								class="catalog-item-tabs__item-adv catalog-item-tabs__item-adv-bottom"
							>
								<img
									src="./img/adv-10.svg"
									class="image catalog-item-tabs__icon-adv"
									width="70"
									height="70"
									alt="Иконка преимущества"
								/>
								<span
									class="catalog-item-tabs__text title__text"
								>
									Малый вес при высокой прочности
								</span>
							</li>
							<li
								class="catalog-item-tabs__item-adv catalog-item-tabs__item-adv-bottom"
							>
								<img
									src="./img/adv-11.svg"
									class="image catalog-item-tabs__icon-adv"
									width="70"
									height="70"
									alt="Иконка преимущества"
								/>
								<span
									class="catalog-item-tabs__text title__text"
								>
									Конструкция без швов минимизирует возможные
									поломки
								</span>
							</li>
							<li
								class="catalog-item-tabs__item-adv catalog-item-tabs__item-adv-bottom"
							>
								<img
									src="./img/adv-12.svg"
									class="image catalog-item-tabs__icon-adv"
									width="70"
									height="70"
									alt="Иконка преимущества"
								/>
								<span
									class="catalog-item-tabs__text title__text"
								>
									Устойчивость к внешним воздействиям и
									перепадам температуры
								</span>
							</li>
						</ul>
					</div>
				</div>
				<div
					class="catalog-item-tabs__panel catalog-item-tabs__panel-active"
				>
					<ul class="list-reset docs-hero__list">
						<li class="accordion docs-hero__item accordion-open">
							<div
								class="accordion__control docs-hero__control"
								aria-expanded="true"
							>
								<span
									class="accordion__title docs-hero__title title__h4"
								>
									сертификат
								</span>
								<img
									src="./img/bottom-arrow.svg"
									class="image accordion__icon-arrow accordion__icon-arrow-reversed"
									width="18"
									height="10"
									alt="Стрелка аккордиона"
								/>
							</div>
							<div
								class="accordion__content docs-hero__content title__text accordion__content-open-docs"
								aria-hidden="false"
								style="max-height: 190px"
							>
								<ul class="docs-hero__docs list-reset">
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download=""
										>
											сертификат1.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download=""
										>
											сертификат2.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download=""
										>
											сертификат.doc
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download=""
										>
											сертификат1.xls
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download=""
										>
											сертификат1.xlsx
										</a>
									</li>
								</ul>
								<a
									class="btn-reset button button__primary docs-hero__button-download"
									href="#"
									download
								>
									скачать все
								</a>
							</div>
						</li>
						<li class="accordion docs-hero__item">
							<div
								class="accordion__control docs-hero__control"
								aria-expanded="false"
							>
								<span
									class="accordion__title docs-hero__title title__h4"
								>
									паспорт
								</span>
								<img
									src="./img/bottom-arrow.svg"
									class="image accordion__icon-arrow"
									width="18"
									height="10"
									alt="Стрелка аккордиона"
								/>
							</div>
							<div
								class="accordion__content docs-hero__content title__text"
								aria-hidden="true"
							>
								<ul class="docs-hero__docs list-reset">
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат2.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат.doc
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xls
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xlsx
										</a>
									</li>
								</ul>
								<a
									class="btn-reset button button__primary docs-hero__button-download"
									href="#"
									download
								>
									скачать все
								</a>
							</div>
						</li>
						<li class="accordion docs-hero__item">
							<div
								class="accordion__control docs-hero__control"
								aria-expanded="false"
							>
								<span
									class="accordion__title docs-hero__title title__h4"
								>
									договор
								</span>
								<img
									src="./img/bottom-arrow.svg"
									class="image accordion__icon-arrow"
									width="18"
									height="10"
									alt="Стрелка аккордиона"
								/>
							</div>
							<div
								class="accordion__content docs-hero__content title__text"
								aria-hidden="true"
							>
								<ul class="docs-hero__docs list-reset">
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат2.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат.doc
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xls
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xlsx
										</a>
									</li>
								</ul>
								<a
									class="btn-reset button button__primary docs-hero__button-download"
									href="#"
									download
								>
									скачать все
								</a>
							</div>
						</li>
						<li class="accordion docs-hero__item">
							<div
								class="accordion__control docs-hero__control"
								aria-expanded="false"
							>
								<span
									class="accordion__title docs-hero__title title__h4"
								>
									декларация
								</span>
								<img
									src="./img/bottom-arrow.svg"
									class="image accordion__icon-arrow"
									width="18"
									height="10"
									alt="Стрелка аккордиона"
								/>
							</div>
							<div
								class="accordion__content docs-hero__content title__text"
								aria-hidden="true"
							>
								<ul class="docs-hero__docs list-reset">
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат2.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат.doc
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xls
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xlsx
										</a>
									</li>
								</ul>
								<a
									class="btn-reset button button__primary docs-hero__button-download"
									href="#"
									download
								>
									скачать все
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="catalog-item-tabs__panel">
					<ul class="list-reset catalog-hero__list-category">
						<li class="catalog-hero__item-category">
							<div
								class="catalog-hero__container-image catalog-hero__container-image-full"
							>
								<picture class="catalog-hero__picture">
									<source
										srcset="./img/catalog-17.webp"
										type="image/webp"
									/>
									<img
										src="./img/catalog-17.png"
										class="image catalog-hero__image"
										width="300"
										height="260"
										alt="Фото товара"
									/>
								</picture>
							</div>
							<div class="catalog-hero__container-card">
								<div>
									<h5 class="catalog-hero__title-product">
										<a
											href="./catalog-item.html"
											class="catalog-hero__link"
										>
											Монтаж
										</a>
									</h5>
									<p class="catalog-hero__descr">
										Наши специалисты используют весь свой
										опыт и навыки, чтобы сделать все быстро
										и качественно
									</p>
									<div class="catalog-hero__container-price">
										<span
											class="catalog-hero__price catalog-hero__price-real"
										>
											9990 ₽
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__secondary catalog-hero__button-more"
							>
								подробнее
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div
								class="catalog-hero__container-image catalog-hero__container-image-full"
							>
								<picture class="catalog-hero__picture">
									<source
										srcset="./img/catalog-18.webp"
										type="image/webp"
									/>
									<img
										src="./img/catalog-18.png"
										class="image catalog-hero__image"
										width="300"
										height="260"
										alt="Фото товара"
									/>
								</picture>
							</div>
							<div class="catalog-hero__container-card">
								<div>
									<h5 class="catalog-hero__title-product">
										<a
											href="./catalog-item.html"
											class="catalog-hero__link"
										>
											Шеф монтаж
										</a>
									</h5>
									<p class="catalog-hero__descr">
										Наши специалисты используют весь свой
										опыт и навыки, чтобы сделать все быстро
										и качественно
									</p>
									<div class="catalog-hero__container-price">
										<span
											class="catalog-hero__price catalog-hero__price-real"
										>
											14 990 ₽
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__secondary catalog-hero__button-more"
							>
								подробнее
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div
								class="catalog-hero__container-image catalog-hero__container-image-full"
							>
								<picture class="catalog-hero__picture">
									<source
										srcset="./img/catalog-19.webp"
										type="image/webp"
									/>
									<img
										src="./img/catalog-19.png"
										class="image catalog-hero__image"
										width="300"
										height="260"
										alt="Фото товара"
									/>
								</picture>

								<div
									class="catalog-hero__discount catalog-hero__discount"
								>
									-10%
								</div>
							</div>
							<div class="catalog-hero__container-card">
								<div>
									<h5 class="catalog-hero__title-product">
										<a
											href="./catalog-item.html"
											class="catalog-hero__link"
										>
											Сервис
										</a>
									</h5>
									<p class="catalog-hero__descr">
										Наши специалисты используют весь свой
										опыт и навыки, чтобы сделать все быстро
										и качественно
									</p>
									<div class="catalog-hero__container-price">
										<span
											class="catalog-hero__price catalog-hero__price-real"
										>
											10 500 ₽
										</span>
										<span
											class="catalog-hero__price catalog-hero__price-old"
										>
											14 000 ₽
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__secondary catalog-hero__button-more"
							>
								подробнее
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div
								class="catalog-hero__container-image catalog-hero__container-image-full"
							>
								<picture class="catalog-hero__picture">
									<source
										srcset="./img/catalog-20.webp"
										type="image/webp"
									/>
									<img
										src="./img/catalog-20.png"
										class="image catalog-hero__image"
										width="300"
										height="260"
										alt="Фото товара"
									/>
								</picture>
							</div>
							<div class="catalog-hero__container-card">
								<div>
									<h5 class="catalog-hero__title-product">
										<a
											href="./catalog-item.html"
											class="catalog-hero__link"
										>
											Доставка
										</a>
									</h5>
									<p class="catalog-hero__descr">
										Наши специалисты используют весь свой
										опыт и навыки, чтобы сделать все быстро
										и качественно
									</p>
									<div class="catalog-hero__container-price">
										<span
											class="catalog-hero__price catalog-hero__price-real"
										>
											4390 ₽
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__secondary catalog-hero__button-more"
							>
								подробнее
							</button>
						</li>
					</ul>
				</div>
				<div class="catalog-item-tabs__panel">
					<ul class="catalog-item-tabs__list-adv list-reset">
						<li
							class="catalog-item-tabs__item-adv catalog-item-tabs__item-delivery"
						>
							<img
								src="./img/delivery.svg"
								class="image catalog-item-tabs__icon-adv catalog-item-tabs__icon-shadow"
								width="64"
								height="64"
								alt="Иконка доставки"
							/>
							<h3
								class="title__h3 catalog-item-tabs__title-delivery"
							>
								бесплатная доставка в пределах города Челябинска
							</h3>
						</li>
						<li
							class="catalog-item-tabs__item-adv catalog-item-tabs__item-delivery"
						>
							<img
								src="./img/wallet.svg"
								class="image catalog-item-tabs__icon-adv catalog-item-tabs__icon-shadow"
								width="64"
								height="64"
								alt="Иконка доставки"
							/>
							<h3
								class="title__h3 catalog-item-tabs__title-delivery"
							>
								принимаем любые способы оплаты
							</h3>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
