<section class="catalog-hero">
	<div class="container">
		<h2 class="catalog-hero__title title__h2">Каталог</h2>
	</div>
	<div class="container catalog-hero__container">
		<div class="catalog-hero__filters">
			<ul class="catalog-hero__list list-reset">
				<li class="catalog-hero__item">
					<label class="catalog-hero__label">
						Системы очистки
						<input
							type="checkbox"
							class="catalog-hero__input"
							checked="checked"
						/>
						<span class="catalog-hero__checkmark"></span>
					</label>
				</li>
			</ul>
		</div>
	</div>
</section>
