<section class="catalog-item-tabs">
	<div class="container catalog-item-tabs__container">
		<div class="tabs" data-tabs="tab">
			<ul class="catalog-item-tabs__list list-reset">
				<li class="catalog-item-tabs__item">
					<button
						class="catalog-item-tabs__btn btn-reset title__h4"
						type="button"
					>
						Характеристики
					</button>
				</li>
				<li class="catalog-item-tabs__item">
					<button
						class="catalog-item-tabs__btn catalog-item-tabs__btn-active btn-reset title__h4"
						type="button"
					>
						Преимущества
					</button>
				</li>
				<li class="catalog-item-tabs__item">
					<button
						class="catalog-item-tabs__btn btn-reset title__h4"
						type="button"
					>
						Документация
					</button>
				</li>
				<li class="catalog-item-tabs__item">
					<button
						class="catalog-item-tabs__btn btn-reset title__h4"
						type="button"
					>
						Монтаж-сервис
					</button>
				</li>
				<li class="catalog-item-tabs__item">
					<button
						class="catalog-item-tabs__btn btn-reset title__h4"
						type="button"
					>
						Оплата и доставка
					</button>
				</li>
			</ul>
			<div class="catalog-item-tabs__content">
				<div class="catalog-item-tabs__panel">
					<ul class="catalog-item-tabs__list-adv list-reset">
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-1.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сделано из композитных материалов
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-2.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Срок эксплуатации более 50 лет
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-3.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сервис без въезда ассенизатора на участок
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-4.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Не боится отключения электричества
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-5.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Очищенной водой можно поливать
							</span>
						</li>
					</ul>
				</div>
				<div
					class="catalog-item-tabs__panel catalog-item-tabs__panel-active"
				>
					<ul class="catalog-item-tabs__list-adv list-reset">
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-1.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сделано из композитных материалов
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-2.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Срок эксплуатации более 50&nbsp;лет
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-3.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сервис без въезда ассенизатора на участок
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-4.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Не боится отключения электричества
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-5.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Очищенной водой можно поливать
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-6.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Залповый сброс до 750 л (модели PRO)
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-7.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сливайте любой бытовой сток, от умягчителя и
								котла
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-8.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Не требует добавления бактерий
							</span>
						</li>
					</ul>
				</div>
				<div class="catalog-item-tabs__panel">
					<ul class="list-reset docs-hero__list">
						<li class="accordion docs-hero__item accordion-open">
							<div
								class="accordion__control docs-hero__control"
								aria-expanded="true"
							>
								<span
									class="accordion__title docs-hero__title title__h4"
								>
									сертификат
								</span>
								<img
									loading="lazy"
									src="./img/bottom-arrow.svg"
									class="image accordion__icon-arrow accordion__icon-arrow-reversed"
									width="18"
									height="10"
									alt="Стрелка аккордиона"
								/>
							</div>
							<div
								class="accordion__content docs-hero__content title__text accordion__content-open-docs"
								aria-hidden="false"
								style="max-height: 190px"
							>
								<ul class="docs-hero__docs list-reset">
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download=""
										>
											сертификат1.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download=""
										>
											сертификат2.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download=""
										>
											сертификат.doc
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download=""
										>
											сертификат1.xls
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download=""
										>
											сертификат1.xlsx
										</a>
									</li>
								</ul>
								<a
									class="btn-reset button button__primary docs-hero__button-download"
									href="#"
									download
								>
									скачать все
								</a>
							</div>
						</li>
						<li class="accordion docs-hero__item">
							<div
								class="accordion__control docs-hero__control"
								aria-expanded="false"
							>
								<span
									class="accordion__title docs-hero__title title__h4"
								>
									паспорт
								</span>
								<img
									loading="lazy"
									src="./img/bottom-arrow.svg"
									class="image accordion__icon-arrow"
									width="18"
									height="10"
									alt="Стрелка аккордиона"
								/>
							</div>
							<div
								class="accordion__content docs-hero__content title__text"
								aria-hidden="true"
							>
								<ul class="docs-hero__docs list-reset">
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат2.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат.doc
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xls
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xlsx
										</a>
									</li>
								</ul>
								<a
									class="btn-reset button button__primary docs-hero__button-download"
									href="#"
									download
								>
									скачать все
								</a>
							</div>
						</li>
						<li class="accordion docs-hero__item">
							<div
								class="accordion__control docs-hero__control"
								aria-expanded="false"
							>
								<span
									class="accordion__title docs-hero__title title__h4"
								>
									договор
								</span>
								<img
									loading="lazy"
									src="./img/bottom-arrow.svg"
									class="image accordion__icon-arrow"
									width="18"
									height="10"
									alt="Стрелка аккордиона"
								/>
							</div>
							<div
								class="accordion__content docs-hero__content title__text"
								aria-hidden="true"
							>
								<ul class="docs-hero__docs list-reset">
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат2.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат.doc
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xls
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xlsx
										</a>
									</li>
								</ul>
								<a
									class="btn-reset button button__primary docs-hero__button-download"
									href="#"
									download
								>
									скачать все
								</a>
							</div>
						</li>
						<li class="accordion docs-hero__item">
							<div
								class="accordion__control docs-hero__control"
								aria-expanded="false"
							>
								<span
									class="accordion__title docs-hero__title title__h4"
								>
									декларация
								</span>
								<img
									loading="lazy"
									src="./img/bottom-arrow.svg"
									class="image accordion__icon-arrow"
									width="18"
									height="10"
									alt="Стрелка аккордиона"
								/>
							</div>
							<div
								class="accordion__content docs-hero__content title__text"
								aria-hidden="true"
							>
								<ul class="docs-hero__docs list-reset">
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат2.pdf
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат.doc
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xls
										</a>
									</li>
									<li class="docs-hero__doc">
										<a
											href="#"
											class="docs-hero__link"
											download
										>
											сертификат1.xlsx
										</a>
									</li>
								</ul>
								<a
									class="btn-reset button button__primary docs-hero__button-download"
									href="#"
									download
								>
									скачать все
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="catalog-item-tabs__panel">
					<ul class="catalog-item-tabs__list-adv list-reset">
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-1.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сделано из композитных материалов
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-7.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сливайте любой бытовой сток, от умягчителя и
								котла
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-8.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Не требует добавления бактерий
							</span>
						</li>
					</ul>
				</div>
				<div class="catalog-item-tabs__panel">
					<ul class="catalog-item-tabs__list-adv list-reset">
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-2.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Срок эксплуатации более 50&nbsp;лет
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-4.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Не боится отключения электричества
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-5.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Очищенной водой можно поливать
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-7.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Сливайте любой бытовой сток, от умягчителя и
								котла
							</span>
						</li>
						<li class="catalog-item-tabs__item-adv">
							<img
								loading="lazy"
								src="./img/adv-8.svg"
								class="image catalog-item-tabs__icon-adv"
								width="70"
								height="70"
								alt="Иконка преимущества"
							/>
							<span
								class="catalog-item-tabs__text catalog-item-tabs__text-main title__text"
							>
								Не требует добавления бактерий
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<h3 class="catalog-item-tabs__title title__h3">
			Преимущества композитного материала
		</h3>
		<ul
			class="catalog-item-tabs__list-adv catalog-item-tabs__list-adv-bottom list-reset"
		>
			<li
				class="catalog-item-tabs__item-adv catalog-item-tabs__item-adv-bottom"
			>
				<img
					loading="lazy"
					src="./img/adv-9.svg"
					class="image catalog-item-tabs__icon-adv"
					width="70"
					height="70"
					alt="Иконка преимущества"
				/>
				<span class="catalog-item-tabs__text title__text">
					Прочность сопоставима с показателями прочности стали
				</span>
			</li>
			<li
				class="catalog-item-tabs__item-adv catalog-item-tabs__item-adv-bottom"
			>
				<img
					loading="lazy"
					src="./img/adv-10.svg"
					class="image catalog-item-tabs__icon-adv"
					width="70"
					height="70"
					alt="Иконка преимущества"
				/>
				<span class="catalog-item-tabs__text title__text">
					Малый вес при высокой прочности
				</span>
			</li>
			<li
				class="catalog-item-tabs__item-adv catalog-item-tabs__item-adv-bottom"
			>
				<img
					loading="lazy"
					src="./img/adv-11.svg"
					class="image catalog-item-tabs__icon-adv"
					width="70"
					height="70"
					alt="Иконка преимущества"
				/>
				<span class="catalog-item-tabs__text title__text">
					Конструкция без швов минимизирует возможные поломки
				</span>
			</li>
			<li
				class="catalog-item-tabs__item-adv catalog-item-tabs__item-adv-bottom"
			>
				<img
					loading="lazy"
					src="./img/adv-12.svg"
					class="image catalog-item-tabs__icon-adv"
					width="70"
					height="70"
					alt="Иконка преимущества"
				/>
				<span class="catalog-item-tabs__text title__text">
					Устойчивость к внешним воздействиям и перепадам температуры
				</span>
			</li>
		</ul>
	</div>
</section>
