<section class="catalog-item-stuff">
	<div class="container catalog-item-stuff__container">
		<h3 class="catalog-hero__title-category title__h3">
			Дополнительное оборудование для Goldrye 8 PRO
		</h3>
		<ul class="list-reset catalog-hero__list-category">
			<li class="catalog-hero__item-category">
				<div class="catalog-hero__container-image">
					<picture class="catalog-hero__picture">
						<source
							srcset="./img/catalog-9.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/catalog-9.png"
							class="image catalog-hero__image"
							width="300"
							height="260"
							alt="Фото товара"
						/>
					</picture>
					<div class="catalog-hero__discount catalog-hero__discount">
						-10%
					</div>
				</div>
				<div class="catalog-hero__container-card">
					<div>
						<h5 class="catalog-hero__title-product">
							<a
								href="./catalog-item.html"
								class="catalog-hero__link"
							>
								Компрессорный модуль
							</a>
						</h5>
						<div class="catalog-hero__container-price">
							<span
								class="catalog-hero__price catalog-hero__price-real"
							>
								49 000 ₽
							</span>
							<span
								class="catalog-hero__price catalog-hero__price-old"
							>
								55 000 ₽
							</span>
						</div>
					</div>
				</div>
				<button
					class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
				>
					<svg class="button__primary-icon-svg">
						<use
							xlink:href="img/sprite.svg#catalog-button-icon"
						></use>
					</svg>
				</button>
			</li>
			<li class="catalog-hero__item-category">
				<div class="catalog-hero__container-image">
					<picture class="catalog-hero__picture">
						<source
							srcset="./img/catalog-10.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/catalog-10.png"
							class="image catalog-hero__image"
							width="300"
							height="260"
							alt="Фото товара"
						/>
					</picture>
				</div>
				<div class="catalog-hero__container-card">
					<div>
						<h5 class="catalog-hero__title-product">
							<a
								href="./catalog-item.html"
								class="catalog-hero__link"
							>
								Комплект заглубления 900
							</a>
						</h5>
						<div class="catalog-hero__container-price">
							<span
								class="catalog-hero__price catalog-hero__price-real"
							>
								150 000 ₽
							</span>
						</div>
					</div>
				</div>
				<button
					class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
				>
					<svg class="button__primary-icon-svg">
						<use
							xlink:href="img/sprite.svg#catalog-button-icon"
						></use>
					</svg>
				</button>
			</li>
			<li class="catalog-hero__item-category">
				<div class="catalog-hero__container-image">
					<picture class="catalog-hero__picture">
						<source
							srcset="./img/catalog-11.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/catalog-11.png"
							class="image catalog-hero__image"
							width="300"
							height="260"
							alt="Фото товара"
						/>
					</picture>
				</div>
				<div class="catalog-hero__container-card">
					<div>
						<h5 class="catalog-hero__title-product">
							<a
								href="./catalog-item.html"
								class="catalog-hero__link"
							>
								Комплект заглубления 600
							</a>
						</h5>
						<div class="catalog-hero__container-price">
							<span
								class="catalog-hero__price catalog-hero__price-real"
							>
								130 000 ₽
							</span>
						</div>
					</div>
				</div>
				<button
					class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
				>
					<svg class="button__primary-icon-svg">
						<use
							xlink:href="img/sprite.svg#catalog-button-icon"
						></use>
					</svg>
				</button>
			</li>
			<li class="catalog-hero__item-category">
				<div class="catalog-hero__container-image">
					<picture class="catalog-hero__picture">
						<source
							srcset="./img/catalog-12.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/catalog-12.png"
							class="image catalog-hero__image"
							width="300"
							height="260"
							alt="Фото товара"
						/>
					</picture>
				</div>
				<div class="catalog-hero__container-card">
					<div>
						<h5 class="catalog-hero__title-product">
							<a
								href="./catalog-item.html"
								class="catalog-hero__link"
							>
								Комплект принудительного сброса
							</a>
						</h5>
						<div class="catalog-hero__container-price">
							<span
								class="catalog-hero__price catalog-hero__price-real"
							>
								25 000 ₽
							</span>
						</div>
					</div>
				</div>
				<button
					class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
				>
					<svg class="button__primary-icon-svg">
						<use
							xlink:href="img/sprite.svg#catalog-button-icon"
						></use>
					</svg>
				</button>
			</li>
		</ul>
	</div>
</section>
