<section class="catalog-item-hero">
	<div class="container">
		<div class="catalog-item-hero__container-title">
			<h2 class="title__h2 catalog-item-hero__title">GoldRye 8 PRO</h2>
			<ul class="list-reset catalog-item-hero__list-tips">
				<li
					class="catalog-item-hero__item-tips catalog-item-hero__item-tips-discount"
				>
					-10%
				</li>
				<li
					class="catalog-item-hero__item-tips catalog-item-hero__item-tips-hit"
				>
					Хит-продаж
				</li>
			</ul>
		</div>
		<ul class="catalog-item-hero__descr list-reset">
			<li class="catalog-item-hero__item-descr">
				<h4 class="title__h4 catalog-item-hero__title-descr">
					Очищение до 1600 л/сут
				</h4>
			</li>
			<li class="catalog-item-hero__item-descr">
				<h4 class="title__h4 catalog-item-hero__title-descr">
					Для постоянного проживания семьи до 8 человек
				</h4>
			</li>
		</ul>
	</div>
	<div class="container catalog-item-hero__container-price-hidden">
		<div class="catalog-hero__container-price">
			<span class="catalog-hero__price catalog-hero__price-real">
				232 900 ₽
			</span>
			<span class="catalog-hero__price catalog-hero__price-old">
				290 900 ₽
			</span>
		</div>
		<button
			class="btn-reset button button__primary catalot-item-hero__button"
		>
			в корзину
		</button>
	</div>
	<div class="container catalog-item-hero__container">
		<div class="catalog-item-hero__flex">
			<div class="catalog-item-hero__col">
				<button
					class="btn-reset catalog-item-hero__button catalog-item-hero__button-prev"
				>
					<img
						loading="lazy"
						src="./img/filled-arrow.svg"
						class="image catalog-item-hero__icon-arrow"
						width="33"
						height="23"
						alt="Стрелка слайдера"
					/>
				</button>
				<div
					class="catalog-item-hero__slider catalog-item-hero__slider-thumbs"
				>
					<div class="swiper swiper-container">
						<div class="swiper-wrapper catalog-item-hero__wrapper">
							<div
								class="swiper-slide catalog-item-hero__slide-thumb"
							>
								<picture
									class="catalog-item-hero__image-picture"
								>
									<source
										srcset="./img/catalog-item-1.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/catalog-item-1.png"
										class="image catalog-item-hero__image-mini"
										width="112"
										height="96"
										alt="Миниатюра слайда"
									/>
								</picture>
							</div>
							<div
								class="swiper-slide catalog-item-hero__slide catalog-item-hero__slide-thumb"
							>
								<picture
									class="catalog-item-hero__image-picture"
								>
									<source
										srcset="./img/catalog-item-1.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/catalog-item-1.png"
										class="image catalog-item-hero__image-mini"
										width="112"
										height="96"
										alt="Миниатюра слайда"
									/>
								</picture>
							</div>
							<div
								class="swiper-slide catalog-item-hero__slide catalog-item-hero__slide-thumb"
							>
								<picture
									class="catalog-item-hero__image-picture"
								>
									<source
										srcset="./img/catalog-item-1.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/catalog-item-1.png"
										class="image catalog-item-hero__image-mini"
										width="112"
										height="96"
										alt="Миниатюра слайда"
									/>
								</picture>
							</div>
							<div
								class="swiper-slide catalog-item-hero__slide catalog-item-hero__slide-thumb"
							>
								<picture
									class="catalog-item-hero__image-picture"
								>
									<source
										srcset="./img/catalog-item-1.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/catalog-item-1.png"
										class="image catalog-item-hero__image-mini"
										width="112"
										height="96"
										alt="Миниатюра слайда"
									/>
								</picture>
							</div>
						</div>
					</div>
				</div>
				<button
					class="btn-reset catalog-item-hero__button catalog-item-hero__button-next"
				>
					<img
						loading="lazy"
						src="./img/filled-arrow.svg"
						class="image catalog-item-hero__icon-arrow catalog-item-hero__icon-arrow-reversed"
						width="33"
						height="23"
						alt="Стрелка слайдера"
					/>
				</button>
			</div>
			<div
				class="swiper catalog-item-hero__slider catalog-item-hero__slider-images"
			>
				<div class="swiper swiper-container">
					<div class="swiper-wrapper catalog-item-hero__wrapper">
						<div class="swiper-slide catalog-item-hero__slide">
							<picture>
								<source
									srcset="./img/catalog-item-main.webp"
									type="image/webp"
								/>
								<img
									loading="lazy"
									src="./img/catalog-item-main.png"
									class="image catalog-item-hero__image"
									width="654"
									height="560"
									alt="Изображение слайда"
								/>
							</picture>
						</div>
						<div class="swiper-slide catalog-item-hero__slide">
							<picture>
								<source
									srcset="./img/catalog-item-main.webp"
									type="image/webp"
								/>
								<img
									loading="lazy"
									src="./img/catalog-item-main.png"
									class="image catalog-item-hero__image"
									width="654"
									height="560"
									alt="Изображение слайда"
								/>
							</picture>
						</div>
						<div class="swiper-slide catalog-item-hero__slide">
							<picture>
								<source
									srcset="./img/catalog-item-main.webp"
									type="image/webp"
								/>
								<img
									loading="lazy"
									src="./img/catalog-item-main.png"
									class="image catalog-item-hero__image"
									width="654"
									height="560"
									alt="Изображение слайда"
								/>
							</picture>
						</div>
						<div class="swiper-slide catalog-item-hero__slide">
							<picture>
								<source
									srcset="./img/catalog-item-main.webp"
									type="image/webp"
								/>
								<img
									loading="lazy"
									src="./img/catalog-item-main.png"
									class="image catalog-item-hero__image"
									width="654"
									height="560"
									alt="Изображение слайда"
								/>
							</picture>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="catalog-item-hero__list list-reset">
			<li class="catalog-item-hero__item">
				<img
					loading="lazy"
					src="./img/catalog-item-1.svg"
					class="image catalog-item-hero__icon"
					width="64"
					height="64"
					alt="Иконка"
				/>
				<span class="catalog-item-hero__text">безлимит</span>
			</li>
			<li class="catalog-item-hero__item">
				<img
					loading="lazy"
					src="./img/catalog-item-2.svg"
					class="image catalog-item-hero__icon"
					width="64"
					height="64"
					alt="Иконка"
				/>
				<span class="catalog-item-hero__text">5 в день</span>
			</li>
			<li class="catalog-item-hero__item">
				<img
					loading="lazy"
					src="./img/catalog-item-3.svg"
					class="image catalog-item-hero__icon"
					width="64"
					height="64"
					alt="Иконка"
				/>
				<span class="catalog-item-hero__text">4 в день</span>
			</li>
			<li class="catalog-item-hero__item">
				<img
					loading="lazy"
					src="./img/catalog-item-4.svg"
					class="image catalog-item-hero__icon"
					width="64"
					height="64"
					alt="Иконка"
				/>
				<span class="catalog-item-hero__text">3 в день</span>
			</li>
			<li class="catalog-item-hero__item">
				<img
					loading="lazy"
					src="./img/catalog-item-5.svg"
					class="image catalog-item-hero__icon"
					width="64"
					height="64"
					alt="Иконка"
				/>
				<span class="catalog-item-hero__text">1 в день</span>
			</li>
			<li class="catalog-item-hero__item">
				<img
					loading="lazy"
					src="./img/catalog-item-6.svg"
					class="image catalog-item-hero__icon"
					width="64"
					height="64"
					alt="Иконка"
				/>
				<span class="catalog-item-hero__text">измельчитель</span>
			</li>
		</ul>
	</div>
	<div class="container catalog-item-hero__container-price">
		<div class="catalog-hero__container-price">
			<span class="catalog-hero__price catalog-hero__price-real">
				232 900 ₽
			</span>
			<span class="catalog-hero__price catalog-hero__price-old">
				290 900 ₽
			</span>
		</div>
		<button
			class="btn-reset button button__primary catalot-item-hero__button"
		>
			в корзину
		</button>
	</div>
</section>
