<section class="catalog-hero">
	<div class="container catalog-hero__container-visible">
		<div class="catalog-hero__container-category">
			<ul class="list-reset catalog-hero__list-category">
				<li class="catalog-hero__item-category">
					<div
						class="catalog-hero__container-image"
						data-category="systems"
					>
						<picture class="catalog-hero__picture">
							<source
								srcset="./img/category-1.webp"
								type="image/webp"
							/>
							<img
								loading="lazy"
								src="./img/category-1.png"
								class="image catalog-hero__image"
								width="250"
								height="180"
								alt="Фото товара"
							/>
						</picture>
						<button
							class="btn-reset button button__primary catalog-hero__button-category"
						>
							системы очистки стоков
						</button>
					</div>
				</li>
				<li class="catalog-hero__item-category">
					<div
						class="catalog-hero__container-image"
						data-category="stuff"
					>
						<picture class="catalog-hero__picture">
							<source
								srcset="./img/category-2.webp"
								type="image/webp"
							/>
							<img
								loading="lazy"
								src="./img/category-2.png"
								class="image catalog-hero__image"
								width="250"
								height="180"
								alt="Фото товара"
							/>
						</picture>
						<button
							class="btn-reset button button__primary catalog-hero__button-category"
						>
							оборудование
						</button>
					</div>
				</li>
				<li class="catalog-hero__item-category">
					<div
						class="catalog-hero__container-image"
						data-category="caps"
					>
						<picture class="catalog-hero__picture">
							<source
								srcset="./img/category-3.webp"
								type="image/webp"
							/>
							<img
								loading="lazy"
								src="./img/category-3.png"
								class="image catalog-hero__image"
								width="250"
								height="180"
								alt="Фото товара"
							/>
						</picture>
						<button
							class="btn-reset button button__primary catalog-hero__button-category"
						>
							крышки
						</button>
					</div>
				</li>
				<li class="catalog-hero__item-category">
					<div
						class="catalog-hero__container-image"
						data-category="service"
					>
						<picture class="catalog-hero__picture">
							<source
								srcset="./img/category-4.webp"
								type="image/webp"
							/>
							<img
								loading="lazy"
								src="./img/category-4.png"
								class="image catalog-hero__image"
								width="250"
								height="180"
								alt="Фото товара"
							/>
						</picture>
						<button
							class="btn-reset button button__primary catalog-hero__button-category"
						>
							услуги
						</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="catalog-hero__container-hidden">
		<div class="container">
			<h2 class="catalog-hero__title title__h2">Каталог</h2>
			<button
				class="btn-reset catalog-hero__button catalog-hero__button-filter"
			>
				<img
					loading="lazy"
					src="./img/filters-arrow.svg"
					class="image catalog-hero__icon-arrow"
					width="24"
					height="15"
					alt="Стрелки вверх/вниз"
				/>
				<span class="catalog-hero__filter">по возрастанию цены</span>
			</button>
		</div>
		<div class="container catalog-hero__container">
			<div class="catalog-hero__content">
				<div class="catalog-hero__container-category" id="systems">
					<h3 class="catalog-hero__title-category title__h3">
						Системы очистки стоков Голдрай
					</h3>
					<ul class="list-reset catalog-hero__list-category">
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-1.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-1.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div class="catalog-hero__discount">
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
												>GoldRye 5</a
											>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												150 000 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												150 000 ₽
											</span>
										</div>
									</div>
									<div
										class="catalog-hero__container-quantity"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-2.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-2.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
												>GoldRye 6 PRO</a
											>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												210 000 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												150 000 ₽
											</span>
										</div>
									</div>
									<div
										class="catalog-hero__container-quantity"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											3-6
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-3.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-3.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
												>GoldRye 7</a
											>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												250 000 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												150 000 ₽
											</span>
										</div>
									</div>
									<div
										class="catalog-hero__container-quantity"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											3-7
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-4.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-4.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div class="catalog-hero__discount">
										-10%
									</div>
									<div class="catalog-hero__hit">
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
												>GoldRye 8 PRO</a
											>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												300 000 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												150 000 ₽
											</span>
										</div>
									</div>
									<div
										class="catalog-hero__container-quantity"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											4-8
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-5.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-5.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div class="catalog-hero__discount">
										-10%
									</div>
									<div class="catalog-hero__hit">
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
												>GoldRye 10</a
											>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												350 000 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												150 000 ₽
											</span>
										</div>
									</div>
									<div
										class="catalog-hero__container-quantity"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											3-7
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-6.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-6.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div class="catalog-hero__discount">
										-10%
									</div>
									<div class="catalog-hero__hit">
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
												>GoldRye 15</a
											>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												380 000 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												150 000 ₽
											</span>
										</div>
									</div>
									<div
										class="catalog-hero__container-quantity"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											8-15
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-7.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-7.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div class="catalog-hero__hit">
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
												>GoldRye 20</a
											>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												400 000 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												150 000 ₽
											</span>
										</div>
									</div>
									<div
										class="catalog-hero__container-quantity"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											10-20
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-8.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-8.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
												>GoldRye 30</a
											>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												420 000 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												150 000 ₽
											</span>
										</div>
									</div>
									<div
										class="catalog-hero__container-quantity"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											15-30
										</span>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
					</ul>
				</div>
				<div class="catalog-hero__container-category" id="stuff">
					<h3 class="catalog-hero__title-category title__h3">
						Оборудование
					</h3>
					<ul class="list-reset catalog-hero__list-category">
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-9.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-9.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div class="catalog-hero__discount">
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Компрессорный модуль
											</a>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												49 000 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												55 000 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-10.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-10.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Комплект заглубления 900
											</a>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												150 000 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-11.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-11.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Комплект заглубления 600
											</a>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												130 000 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-12.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-12.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Комплект принудительного сброса
											</a>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												25 000 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
					</ul>
				</div>
				<div class="catalog-hero__container-category" id="caps">
					<h3 class="catalog-hero__title-category title__h3">
						Крышки
					</h3>
					<ul class="list-reset catalog-hero__list-category">
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-13.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-13.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__discount catalog-hero__discount"
									>
										-10%
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Крышка плоская, цвет: кора,
												размер 60х60
											</a>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												3999 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												5999 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-14.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-14.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Крышка многогранная, цвет:
												камень, размер 60х60
											</a>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												4990 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-15.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-15.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Крышка плоская, многогранная,
												цвет: газон, размер 60х60
											</a>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												4390 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-16.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-16.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Крышка плоская, многогранная,
												цвет: кора, размер
											</a>
										</h5>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												4390 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__primary button__primary-icon catalog-hero__button-basket"
							>
								<svg class="button__primary-icon-svg">
									<use
										xlink:href="img/sprite.svg#catalog-button-icon"
									></use>
								</svg>
							</button>
						</li>
					</ul>
				</div>
				<div class="catalog-hero__container-category" id="service">
					<h3 class="catalog-hero__title-category title__h3">
						Услуги
					</h3>
					<ul class="list-reset catalog-hero__list-category">
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-17.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-17.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Монтаж
											</a>
										</h5>
										<p class="catalog-hero__descr">
											Наши специалисты используют весь
											свой опыт и навыки, чтобы сделать
											все быстро и качественно
										</p>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												9990 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__secondary catalog-hero__button-more"
							>
								подробнее
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-18.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-18.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Шеф монтаж
											</a>
										</h5>
										<p class="catalog-hero__descr">
											Наши специалисты используют весь
											свой опыт и навыки, чтобы сделать
											все быстро и качественно
										</p>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												14 990 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__secondary catalog-hero__button-more"
							>
								подробнее
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-19.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-19.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>

									<div
										class="catalog-hero__discount catalog-hero__discount"
									>
										-10%
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Сервис
											</a>
										</h5>
										<p class="catalog-hero__descr">
											Наши специалисты используют весь
											свой опыт и навыки, чтобы сделать
											все быстро и качественно
										</p>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												10 500 ₽
											</span>
											<span
												class="catalog-hero__price catalog-hero__price-old"
											>
												14 000 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__secondary catalog-hero__button-more"
							>
								подробнее
							</button>
						</li>
						<li class="catalog-hero__item-category">
							<div class="catalog-hero__container-inner">
								<div class="catalog-hero__container-image">
									<picture class="catalog-hero__picture">
										<source
											srcset="./img/catalog-20.webp"
											type="image/webp"
										/>
										<img
											loading="lazy"
											src="./img/catalog-20.png"
											class="image catalog-hero__image"
											width="300"
											height="260"
											alt="Фото товара"
										/>
									</picture>
									<div
										class="catalog-hero__discount catalog-hero__discount-hidden"
									>
										-10%
									</div>
									<div
										class="catalog-hero__hit catalog-hero__hit-hidden"
									>
										Хит-продаж
									</div>
									<div
										class="catalog-hero__container-quantity catalog-hero__container-quantity-hidden"
									>
										<img
											loading="lazy"
											src="./img/man.svg"
											class="image catalog-hero__icon-man"
											width="12"
											height="28"
											alt="Иконка человека"
										/>
										<span
											class="catalog-hero__title-quantity"
										>
											1-5
										</span>
									</div>
								</div>
								<div class="catalog-hero__container-card">
									<div>
										<h5 class="catalog-hero__title-product">
											<a
												href="./catalog-item.html"
												class="catalog-hero__link"
											>
												Доставка
											</a>
										</h5>
										<p class="catalog-hero__descr">
											Наши специалисты используют весь
											свой опыт и навыки, чтобы сделать
											все быстро и качественно
										</p>
										<div
											class="catalog-hero__container-price"
										>
											<span
												class="catalog-hero__price catalog-hero__price-real"
											>
												4390 ₽
											</span>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn-reset button button__secondary catalog-hero__button-more"
							>
								подробнее
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
