<section class="choose-hero">
	<div class="container choose-hero__container">
		<h2 class="choose-hero__title title__h2">
			Как выбрать автономную канализацию?
		</h2>
		<div class="choose-hero__banner">
			<div class="choose-hero__container-text">
				<h3 class="choose-hero__subtitle title__h3">
					Подберите канализацию для своего дома
				</h3>
				<p class="choose-hero__subtitle-text title__text">
					Ответьте на несколько вопросов и мы мгновенно рассчитаем
					параметры вашей будущей системы очистки
				</p>
				<a
					href="./quiz.html"
					class="btn-reset button button__primary choose-hero__button"
				>
					подобрать
				</a>
			</div>
			<picture>
				<source srcset="./img/choose-image.webp" type="image/webp" />
				<img
					loading="lazy"
					src="./img/choose-image.png"
					class="image choose-hero__image"
					width="467"
					height="418"
					alt="Изображение продукта"
				/>
			</picture>
		</div>
		<p class="title__text choose-hero__descr">
			Комфорт жизни в загородном доме в большой степени зависит от того,
			какая автономная канализация установлена. Она должна быть легкой и
			незаметной в эксплуатации, занимать мало места на участке, быть
			экономичной и экологичной. В идеале она должна быть проста в
			установке и неприхотлива к условиям. Всем этим требованиям
			соответствует автономная канализация Голдрай.
		</p>
		<p class="title__text choose-hero__descr">
			Автономная станция глубокой биохимической очистки Голдрай – продукт
			отечественного производства. Она пригодна к использованию на всей
			территории России и за ее пределами. Станция хорошо себя проявила в
			условиях высоких грунтовых вод и сложного грунта. Она сделана из
			композитного материала повышенной прочности и рассчитана на
			длительную эксплуатацию – более 50 лет. Конструкция станции Голдрай
			специально разработана таким образом, чтобы станция не всплыла ни
			при каких обстоятельствах.
		</p>
		<p class="title__text choose-hero__descr">
			Удобство и технологичность станции вы оцените уже на этапе монтажа.
			Станция легко монтируется, занимает мало места на участке и может
			быть установлена на любую глубину, в любой грунт, от самого
			неустойчивого до скального. А что касается процесса эксплуатации, ею
			пользоваться так же удобно, как канализацией в городской квартире.
			Станцию Голдрай не нужно чистить каждую неделю. Достаточно провести
			обслуживание раз в год, а если вы не живете в вашем загородном доме
			постоянно, то и реже. Кстати, на время вашего отсутствия, если оно
			продлится более трех месяцев, станцию можно законсервировать.
		</p>
		<p class="title__text choose-hero__descr">
			В некоторых случаях при установке Голдрай требуется заглубление или
			принудительная откачка воды. Для таких ситуаций имеются
			конструктивные дополнения, которые можно приобрести у производителя.
			Если же особенности вашего участка потребуют индивидуального
			проекта, компания-производитель или ее региональные партнеры
			предоставят весь необходимый сервис.
		</p>
		<p class="title__text choose-hero__descr">
			Очистка воды в автономной канализации происходит за счет бактерий.
			Для того чтобы они хорошо себя чувствовали и выполняли свою работу,
			нужно пользоваться экологически безопасными моющими средствами и
			контролировать сброс отходов: не допускать сброса строительного
			мусора и других неразлагающихся веществ. Очищенная вода, вытекающая
			из станции, не имеет запаха. Она очищена на 98% и пригодна для
			полива неплодовых культур: цветников и газонов.
		</p>
		<p class="title__text choose-hero__descr">
			Чем обусловлена экономичность станции? Во-первых, ее установка
			пройдет быстро и обойдется в умеренную сумму: станция относительно
			легкая и занимает немного места, не требует поля фильтрации и
			сложной прокладки коммуникаций. Во-вторых, станция не требует
			еженедельной откачки, а значит, вам не нужно вызывать
			ассенизационную машину и переживать, успеет ли водитель доехать до
			вас раньше, чем накопитель переполнится.
		</p>
		<p class="title__text choose-hero__descr">
			Надежность станции Голдрай обусловлена простотой ее конструкции. В
			ней отсутствует капризная автоматика, которую нужно контролировать.
			Электричество требуется только для компрессора, а потребляет он не
			больше лампочки. Если вдруг возникнут перебои с электричеством,
			станция будет работать в режиме септика, а при восстановлении
			снабжения сама перейдет к нормальной работе. Внутри станции вода
			переливается самотеком, как и при выходе на поверхность.
		</p>
		<p class="title__text choose-hero__descr">
			Станция Голдрай полностью подходит под определение «установил и
			забыл». При соблюдении несложных правил станция будет правильно
			работать и обеспечивать вам комфорт и спокойствие.
		</p>
		<button
			class="btn-reset button button__secondary choose-hero__button-share"
		>
			поделиться
			<img
				loading="lazy"
				src="./img/share.svg"
				class="image choose-hero__icon-share"
				width="16"
				height="16"
				alt="Иконка поделиться"
			/>
		</button>
	</div>
</section>
