<section class="cleaning-hero">
	<div class="container cleaning-hero__container">
		<ul class="cleaning-hero__list list-reset">
			<li class="cleaning-hero__item">
				<a href="./choose.html" class="cleaning-hero__link">
					<img
						loading="lazy"
						src="./img/cogwheel.svg"
						class="image cleaning-hero__icon"
						width="64"
						height="64"
						alt="Иконка шестерни"
					/>
					<h4 class="cleaning-hero__title title__h4">
						Как выбрать автономную канализацию?
					</h4>
				</a>
			</li>
			<li class="cleaning-hero__item">
				<a href="./docs.html" class="cleaning-hero__link">
					<img
						loading="lazy"
						src="./img/docs.svg"
						class="image cleaning-hero__icon"
						width="64"
						height="64"
						alt="Иконка документов"
					/>
					<h4 class="cleaning-hero__title title__h4">Документация</h4>
				</a>
			</li>
			<li class="cleaning-hero__item">
				<a href="./faq.html" class="cleaning-hero__link">
					<img
						loading="lazy"
						src="./img/faq.svg"
						class="image cleaning-hero__icon"
						width="64"
						height="64"
						alt="Иконка вопроса"
					/>
					<h4 class="cleaning-hero__title title__h4">
						Вопрос / Ответ
					</h4>
				</a>
			</li>
		</ul>
	</div>
</section>
