<section class="contacts-hero">
	<div class="container contacts-hero__container">
		<h3 class="contacts-hero__title contacts-hero__title-hidden title__h3">
			Контакты
		</h3>
		<div class="contacts-hero__container-list">
			<h3 class="contacts-hero__title title__h3">Контакты</h3>
			<ul class="contacts-hero__list list-reset">
				<li class="contacts-hero__item">
					<img
						loading="lazy"
						src="./img/location.svg"
						class="image contacts-hero__icon"
						width="24"
						height="30"
						alt="Иконка локации"
					/>
					<h4 class="contacts-hero__subtitle title__h4">
						Производство
					</h4>
					<p class="contacts-hero__descr title__text">
						Челябинская область, г. Коркино, ул. 1 Мая, д. 71
					</p>
				</li>
				<li class="contacts-hero__item contacts-hero__item-iconless">
					<h4 class="contacts-hero__subtitle title__h4">
						Выставочный зал
					</h4>
					<p class="contacts-hero__descr title__text">
						г. Челябинск, ул. Рабоче-Колхозная, 55
					</p>
				</li>
				<li class="contacts-hero__item">
					<img
						loading="lazy"
						src="./img/clock.svg"
						class="image contacts-hero__icon"
						width="24"
						height="24"
						alt="Иконка локации"
					/>
					<h4 class="contacts-hero__subtitle title__h4">
						Режим работы:
					</h4>
					<p class="contacts-hero__descr title__text">
						пн-пт с 9:00 до 18:00
					</p>
				</li>
				<li class="contacts-hero__item">
					<img
						loading="lazy"
						src="./img/mail.svg"
						class="image contacts-hero__icon"
						width="24"
						height="20"
						alt="Иконка локации"
					/>
					<h4 class="contacts-hero__subtitle title__h4">E-mail:</h4>
					<p class="contacts-hero__descr title__text">
						<a
							class="contacts-hero__descr-link"
							href="mailto:goldrye@mail.ru"
						>
							goldrye@mail.ru
						</a>
					</p>
				</li>
				<li class="contacts-hero__item">
					<img
						loading="lazy"
						src="./img/phone.svg"
						class="image contacts-hero__icon"
						width="24"
						height="24"
						alt="Иконка локации"
					/>
					<h4 class="contacts-hero__subtitle title__h4">Телефон</h4>
					<p class="contacts-hero__descr title__text">
						<a
							class="contacts-hero__descr-link"
							href="tel:73512448356"
						>
							+7 (351) 244 83 56
						</a>
					</p>
				</li>
				<li class="contacts-hero__item">
					<img
						loading="lazy"
						src="./img/doc.svg"
						class="image contacts-hero__icon"
						width="24"
						height="24"
						alt="Иконка локации"
					/>
					<p
						class="contacts-hero__descr contacts-hero__descr-download title__text"
					>
						<a class="contacts-hero__descr-link" href="#" download>
							скачать каталог продукции
						</a>
					</p>
				</li>
			</ul>
		</div>
		<div class="contacts-hero__map" id="contacts-map"></div>
	</div>
</section>
