<section class="coop-hero">
	<div class="container coop-hero__container">
		<picture>
			<source srcset="./img/coop-image.webp" type="image/webp" />
			<img
				loading="lazy"
				src="./img/coop-image.png"
				class="image coop-hero__image"
				width="630"
				height="505"
				alt="Изображение сотрудничества"
			/>
		</picture>
		<div class="coop-hero__advantages">
			<div class="coop-hero__container-advantages">
				<h3 class="coop-hero__title coop-hero__title-main title__h3">
					Сотрудничать с Goldrye –
					<span class="coop-hero__title-blue">выгодно</span>
				</h3>
				<p class="coop-hero__text title__text">
					Мы активно развиваем партнерскую сеть в которую уже входят
					десятки магазинов и сотни специалистов которые прошли нашу
					аккретидацию, успешно продают и устанавливают септики
					«Goldrye» по всей России!
				</p>
			</div>
			<div class="coop-hero__container-advantages">
				<h4 class="coop-hero__subtitle title__h4">
					Как стать нашим партнером? Очень просто!
				</h4>
				<p class="coop-hero__text title__text">
					Необходимо нажать кнопку «Стать партнером». Заполнить в
					течении 1 минуты простую анкету. Наши специалисты свяжутся с
					вами и расскажут, как уже «Завтра» стать членом нашей
					команды!
				</p>
				<p class="coop-hero__text title__text">
					Работайте с «Goldrye» - стройте бизнес вместе с нами!
				</p>
			</div>
			<button
				class="button button__secondary btn-reset coop-hero__button"
			>
				стать партнером
			</button>
		</div>
	</div>
</section>
