<section class="discount-hero">
	<div class="container discount-hero__container">
		<h2 class="title__h2 discount-hero__title">Скидки и акции</h2>
		<ul class="news-hero__list list-reset discount-hero__list">
			<li class="news-hero__item discount-hero__item">
				<article class="news-hero__article">
					<picture class="discount-hero__picture">
						<source
							srcset="./img/discount-1.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/discount-1.png"
							class="image discount-hero__image"
							width="260"
							height="183"
							alt="Изображение акции"
						/>
					</picture>
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Акция номер 1, кратко об условиях
					</h4>
					<p class="news-hero__text">Условия акции</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item discount-hero__item">
				<article class="news-hero__article">
					<picture class="discount-hero__picture">
						<source
							srcset="./img/discount-2.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/discount-2.png"
							class="image discount-hero__image"
							width="260"
							height="183"
							alt="Изображение акции"
						/>
					</picture>
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Акция номер 1, кратко об условиях
					</h4>
					<p class="news-hero__text">Условия акции</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item discount-hero__item">
				<article class="news-hero__article">
					<picture class="discount-hero__picture">
						<source
							srcset="./img/discount-3.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/discount-3.png"
							class="image discount-hero__image"
							width="260"
							height="183"
							alt="Изображение акции"
						/>
					</picture>
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Акция номер 1, кратко об условиях
					</h4>
					<p class="news-hero__text">Условия акции</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item discount-hero__item">
				<article class="news-hero__article">
					<picture class="discount-hero__picture">
						<source
							srcset="./img/discount-4.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/discount-4.png"
							class="image discount-hero__image"
							width="260"
							height="183"
							alt="Изображение акции"
						/>
					</picture>
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Акция номер 1, кратко об условиях
					</h4>
					<p class="news-hero__text">Условия акции</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
		</ul>
		<a
			class="btn-reset button button__secondary discount-hero__button-more"
			href="./discount.html"
		>
			показать больше
		</a>
	</div>
</section>
