<section class="docs-hero">
	<div class="container docs-hero__container">
		<ul class="list-reset docs-hero__list">
			<li class="docs-hero__item">
				<div class="docs-hero__container-item">
					<span class="docs-hero__name">сертификат</span>
					<img
						loading="lazy"
						src="./img/bottom-arrow.svg"
						class="image docs-hero__icon-arrow"
						width="13"
						height="7"
						alt="Иконка стрелки"
					/>
				</div>
				<ul class="docs-hero__list-documents list-reset">
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат1.pdf
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат2.pdf
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат.doc
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат.xls
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат1.xlsx
						</a>
					</li>
				</ul>
			</li>
			<li class="docs-hero__item">
				<div class="docs-hero__container-item">
					<span class="docs-hero__name">паспорт</span>
					<img
						loading="lazy"
						src="./img/bottom-arrow.svg"
						class="image docs-hero__icon-arrow"
						width="13"
						height="7"
						alt="Иконка стрелки"
					/>
				</div>
				<ul class="docs-hero__list-documents list-reset">
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат1.pdf
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат2.pdf
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат.doc
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат.xls
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат1.xlsx
						</a>
					</li>
				</ul>
			</li>
			<li class="docs-hero__item">
				<div class="docs-hero__container-item">
					<span class="docs-hero__name">договор</span>
					<img
						loading="lazy"
						src="./img/bottom-arrow.svg"
						class="image docs-hero__icon-arrow"
						width="13"
						height="7"
						alt="Иконка стрелки"
					/>
				</div>
				<ul class="docs-hero__list-documents list-reset">
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат1.pdf
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат2.pdf
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат.doc
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат.xls
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат1.xlsx
						</a>
					</li>
				</ul>
			</li>
			<li class="docs-hero__item">
				<div class="docs-hero__container-item">
					<span class="docs-hero__name">декларация</span>
					<img
						loading="lazy"
						src="./img/bottom-arrow.svg"
						class="image docs-hero__icon-arrow"
						width="13"
						height="7"
						alt="Иконка стрелки"
					/>
				</div>
				<ul class="docs-hero__list-documents list-reset">
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат1.pdf
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат2.pdf
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат.doc
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат.xls
						</a>
					</li>
					<li class="docs-hero__document">
						<a
							href="#"
							class="docs-hero__link title__text"
							download
						>
							сертификат1.xlsx
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>
