<section class="faq-hero">
	<div class="container faq-hero__container">
		<h3 class="title__h3 faq-hero__title">Популярные вопросы</h3>
		<ul class="faq-hero__list list-reset">
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Как подобрать установку?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Не замёрзнет ли станция?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Как часто производится сервис?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Может ли станция всплыть?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Как проводить консервацию?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Есть ли неприятный запах в месте установки?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Шумно ли работает автономная канализация?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Какой расход электроэнергии?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Какая станция лучше: насосная или компрессорная?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Что такое залповый сброс?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Что можно и что нельзя бросать и сливать в станцию?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Нужно ли добавлять бактерии?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Куда отводить очищенную воду?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Можно ли очищенную воду использовать для полива?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
			<li class="faq-hero__accordion">
				<div class="faq-hero__control" aria-expanded="false">
					<span class="faq-hero__title-accordion title__text">
						Где купить запасные части, необходима ли замена
						комплектующих?
					</span>
					<img
						loading="lazy"
						src="./img/accordion-arrow.svg"
						class="image faq-hero__icon-arrow"
						width="18"
						height="10"
						alt="Стрелка аккордиона"
					/>
				</div>
				<div class="faq-hero__content title__text" aria-hidden="true">
					Автономная канализация Голдрай работает бесшумно.
				</div>
			</li>
		</ul>
	</div>
</section>
