<footer class="footer">
	<div class="container footer__container">
		<ul class="footer__list list-reset">
			<li class="footer__item footer__item-right">
				<a href="./about.html#vacancy" class="footer__link">Вакансии</a>
			</li>
			<li class="footer__item footer__item-right">
				<a href="./cooperation.html" class="footer__link"
					>Сотрудничество</a
				>
			</li>
			<li class="footer__item footer__item-right">
				<a href="#" class="footer__link">Карта сайта</a>
			</li>
			<li class="footer__item footer__item-right">
				<a href="./policy-hero.html" class="footer__link">
					Политика обработки персональных данных
				</a>
			</li>
		</ul>
		<div class="footer__container-logo">
			<img
				loading="lazy"
				src="./img/logo768.svg"
				class="image footer__logo"
				width="201"
				height="48"
				alt="Логотип"
			/>
		</div>
		<ul class="footer__list list-reset">
			<li class="footer__item footer__item-left">
				<a href="#" class="footer__link">
					+7 (351) 244 83 56 <br />
					goldrye@mail.ru
				</a>
			</li>
			<li class="footer__item footer__item-left">
				<a href="#" class="footer__link">
					ПРОИЗВОДСТВО <br />
					Челябинская область, г. Коркино, ул. 1 Мая, д. 71
				</a>
			</li>
			<li class="footer__item footer__item-left">
				<a href="#" class="footer__link">
					ВЫСТАВОЧНЫЙ ЗАЛ <br />
					г. Челябинск, ул. Рабоче-Колхозная, 55</a
				>
			</li>
		</ul>
	</div>
</footer>
