<section class="forms">
	<div class="container forms__container">
		<div class="forms__container-inner" id="main-form-container">
			<div class="forms__container-header">
				<button
					class="forms__button-back forms__button-back-hidden btn-reset"
				>
					<img
						loading="lazy"
						src="./img/back-arrow.svg"
						class="image"
						width="8"
						height="13"
						alt="Стрелка назад"
					/>
					<span class="forms__text forms__text-back">назад</span>
				</button>
				<img
					loading="lazy"
					src="./img/logo480.svg"
					class="image forms__logo"
					width="93"
					height="25"
					alt="Логотип"
				/>
				<div class="forms__container-button-close">
					<button class="btn-reset forms__button-close">
						<img
							loading="lazy"
							src="./img/close.svg"
							class="image"
							width="12"
							height="12"
							alt="Кнопка закрыть"
						/>
					</button>
				</div>
			</div>
			<div class="forms__content">
				<div class="forms__content-top">
					<h4 class="title__h4 forms__title">Регистрация</h4>
					<ul class="list-reset forms__list">
						<li class="forms__item forms__item-email">
							<img
								loading="lazy"
								src="./img/dark-mail.svg"
								class="image forms__icon-button"
								width="20"
								height="15"
								alt="Иконка письма"
							/>
							<span class="forms__text forms__text-back">
								Почта
							</span>
						</li>
						<li class="forms__item">
							<img
								loading="lazy"
								src="./img/vk.svg"
								class="image forms__icon-button"
								width="20"
								height="20"
								alt="Иконка VK"
							/>
							<span class="forms__text forms__text-back"
								>Вконтакте</span
							>
						</li>
						<li class="forms__item">
							<img
								loading="lazy"
								src="./img/google.svg"
								class="image forms__icon-button"
								width="20"
								height="20"
								alt="Иконка Google"
							/>
							<span class="forms__text forms__text-back"
								>Google</span
							>
						</li>
						<li class="forms__item">
							<img
								loading="lazy"
								src="./img/apple.svg"
								class="image forms__icon-button"
								width="17"
								height="20"
								alt="Иконка Apple"
							/>
							<span class="forms__text forms__text-back"
								>Apple</span
							>
						</li>
					</ul>
					<p class="forms__text forms__text-enter">
						Есть аккаунт?
						<button
							class="btn-reset forms__text forms__text-blue login-form-btn"
						>
							Войти
						</button>
					</p>
				</div>
				<a href="./policy.html" class="forms__text forms__text-blue">
					Политика конфиденциальности
				</a>
			</div>
		</div>
		<div
			class="forms__container-inner forms__container-inner-hidden"
			id="loginFormContainer"
		>
			<div class="forms__container-header">
				<button class="forms__button-back btn-reset main-form-fack-btn">
					<img
						loading="lazy"
						src="./img/back-arrow.svg"
						class="image"
						width="8"
						height="13"
						alt="Стрелка назад"
					/>
					<span class="forms__text forms__text-back">назад</span>
				</button>
				<img
					loading="lazy"
					src="./img/logo480.svg"
					class="image forms__logo"
					width="93"
					height="25"
					alt="Логотип"
				/>
				<div class="forms__container-button-close">
					<button class="btn-reset forms__button-close">
						<img
							loading="lazy"
							src="./img/close.svg"
							class="image"
							width="12"
							height="12"
							alt="Кнопка закрыть"
						/>
					</button>
				</div>
			</div>
			<div class="forms__content">
				<div class="forms__content-top">
					<h4 class="title__h4 forms__title">Вход в аккаунт</h4>
					<form class="forms__form" enctype="multipart/form-data">
						<ul class="list-reset forms__list forms__list-inputs">
							<li class="forms__item forms__item-input">
								<input
									type="text"
									name="email1"
									id="email1"
									class="forms__input forms__input-text input-reset"
									placeholder="Почта"
								/>
							</li>
							<li class="forms__item forms__item-input">
								<input
									type="text"
									name="pass1"
									id="pass1"
									class="forms__input forms__input-text input-reset"
									placeholder="Пароль"
								/>
							</li>
						</ul>
						<button
							class="btn-reset button button__primary forms__button forms__button-enter"
							type="submit"
						>
							войти
						</button>
					</form>
					<button
						class="btn-reset forms__button-recover forms__text forms__text-blue"
					>
						Забыли пароль?
					</button>
					<button
						class="btn-reset forms__text forms__text-blue forms__button-reg"
					>
						Регистрация
					</button>
				</div>
			</div>
		</div>
		<div
			class="forms__container-inner forms__container-inner-hidden"
			id="emailRegContainer"
		>
			<div class="forms__container-header">
				<button class="forms__button-back btn-reset main-form-fack-btn">
					<img
						loading="lazy"
						src="./img/back-arrow.svg"
						class="image"
						width="8"
						height="13"
						alt="Стрелка назад"
					/>
					<span class="forms__text forms__text-back">назад</span>
				</button>
				<img
					loading="lazy"
					src="./img/logo480.svg"
					class="image forms__logo"
					width="93"
					height="25"
					alt="Логотип"
				/>
				<div class="forms__container-button-close">
					<button class="btn-reset forms__button-close">
						<img
							loading="lazy"
							src="./img/close.svg"
							class="image"
							width="12"
							height="12"
							alt="Кнопка закрыть"
						/>
					</button>
				</div>
			</div>
			<div class="forms__content">
				<div class="forms__content-top">
					<h4 class="title__h4 forms__title">Регистрация</h4>
					<form class="forms__form" enctype="multipart/form-data">
						<ul class="list-reset forms__list forms__list-inputs">
							<li class="forms__item forms__item-input">
								<input
									type="text"
									name="fio"
									id="fio"
									class="forms__input forms__input-text input-reset"
									placeholder="Имя и фамилия"
								/>
							</li>
							<li class="forms__item forms__item-input">
								<input
									type="text"
									name="email"
									id="email"
									class="forms__input forms__input-text input-reset"
									placeholder="Почта"
								/>
							</li>
							<li class="forms__item forms__item-input">
								<input
									type="text"
									name="pass"
									id="pass"
									class="forms__input forms__input-text input-reset"
									placeholder="Пароль"
								/>
							</li>
						</ul>
						<button
							class="btn-reset button button__primary forms__button forms__button-enter"
							type="submit"
						>
							зарегистрироваться
						</button>
					</form>
					<p class="forms__text forms__text-enter">
						Есть аккаунт?
						<button
							class="btn-reset forms__text forms__text-blue login-form-btn"
						>
							Войти
						</button>
					</p>
				</div>
				<a href="./policy.html" class="forms__text forms__text-blue">
					Политика конфиденциальности
				</a>
			</div>
		</div>
		<div
			class="forms__container-inner forms__container-inner-hidden"
			id="recoverFormContainer"
		>
			<div class="forms__container-header">
				<button
					class="forms__button-back btn-reset"
					id="login-form-back-btn"
				>
					<img
						loading="lazy"
						src="./img/back-arrow.svg"
						class="image"
						width="8"
						height="13"
						alt="Стрелка назад"
					/>
					<span class="forms__text forms__text-back">назад</span>
				</button>
				<img
					loading="lazy"
					src="./img/logo480.svg"
					class="image forms__logo"
					width="93"
					height="25"
					alt="Логотип"
				/>
				<div class="forms__container-button-close">
					<button class="btn-reset forms__button-close">
						<img
							loading="lazy"
							src="./img/close.svg"
							class="image"
							width="12"
							height="12"
							alt="Кнопка закрыть"
						/>
					</button>
				</div>
			</div>
			<div class="forms__content">
				<div class="forms__content-top">
					<h4 class="title__h4 forms__title">Восстановить пароль</h4>
					<form class="forms__form" enctype="multipart/form-data">
						<ul class="list-reset forms__list forms__list-inputs">
							<li class="forms__item forms__item-input">
								<input
									type="text"
									name="email"
									id="email"
									class="forms__input forms__input-text input-reset"
									placeholder="Почта"
								/>
							</li>
						</ul>
						<button
							class="btn-reset button button__primary forms__button forms__button-enter"
							type="submit"
						>
							отправить
						</button>
					</form>
					<button
						class="btn-reset forms__text forms__text-blue forms__button-reg"
					>
						Регистрация
					</button>
				</div>
				<a href="./policy.html" class="forms__text forms__text-blue">
					Политика конфиденциальности
				</a>
			</div>
		</div>
	</div>
</section>
