<header class="header">
	<div class="container header__container">
		<div class="header__location">
			<img
				src="./img/location-icon.svg"
				class="image"
				width="10"
				height="10"
				alt="Иконка локации"
			/>
			<span class="header__city">Москва</span>
		</div>
		<div class="header__container-logo">
			<a href="./">
				<picture>
					<source
						srcset="./img/logo480.svg"
						media="(max-width: 480px)"
					/>
					<img
						loading="lazy"
						src="./img/logo768.svg"
						class="image"
						width="130"
						height="30"
						alt="Логотип"
					/>
				</picture>
			</a>
		</div>
		<ul class="header__list list-reset">
			<li class="header__item">
				<img
					src="./img/search-icon.svg"
					class="image header__icon"
					width="19"
					height="19"
					alt="Иконка поиска"
				/>
			</li>
			<li class="header__item">
				<a href="#" class="header__link">
					<img
						src="./img/user-icon.svg"
						class="image header__icon"
						width="21"
						height="21"
						alt="Иконка пользователя"
					/>
				</a>
			</li>
			<li class="header__item">
				<a
					href="./basket.html"
					class="header__link header__link-basket"
				>
					<div class="header__counter header__counter-hidden">
						<span class="header__number">1</span>
					</div>
					<img
						src="./img/basket-icon.svg"
						class="image header__icon"
						width="24"
						height="22"
						alt="Иконка корзины"
					/>
				</a>
			</li>
		</ul>
	</div>
	<nav class="nav" title="Навигационная панель">
		<div class="container nav__container">
			<ul class="nav__list list-reset">
				<li class="nav__item">
					<a href="./catalog.html" class="nav__link">Каталог</a>
				</li>
				<li class="nav__item">
					<a href="./news.html" class="nav__link">Новости</a>
				</li>
				<li class="nav__item">
					<a
						href="./cleaning.html"
						class="nav__link nav__link-active nav__link-cleaning"
					>
						О системах очистки
					</a>
					<ul class="nav__list-inner list-reset">
						<li class="nav__item-inner">
							<a href="./docs.html" class="nav__link-inner"
								>Документация</a
							>
						</li>
						<li class="nav__item-inner">
							<a href="./choose.html" class="nav__link-inner">
								Как выбрать канализацию
							</a>
						</li>
						<li class="nav__item-inner">
							<a href="./faq.html" class="nav__link-inner">
								Вопрос / Ответ
							</a>
						</li>
					</ul>
				</li>
				<li class="nav__item">
					<a href="./cooperation.html" class="nav__link">
						Сотрудничество
					</a>
				</li>
				<li class="nav__item">
					<a href="./about.html" class="nav__link">О компании</a>
				</li>
				<li class="nav__item">
					<a href="./contacts.html" class="nav__link">Контакты</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
