<section class="main-advantages">
	<div class="container main-advantages__container">
		<h2 class="main-advantages__title title__h2">
			Преимущества канализации
		</h2>
		<img
			loading="lazy"
			src="./img/logo480.svg"
			class="image main-advantages__logo"
			width="267"
			height="72"
			alt="Логотип"
		/>
		<ul class="main-advantages__list list-reset">
			<li class="main-advantages__item">
				<div class="main-advantages__container-icon">
					<img
						loading="lazy"
						src="./img/adv-icon-1.svg"
						class="image main-advantages__icon"
						width="36"
						height="36"
						alt="Иконка преимущества"
					/>
				</div>
				<span class="main-advantages__text title__text">
					Сделано из композитных материалов
				</span>
			</li>
			<li class="main-advantages__item">
				<div class="main-advantages__container-icon">
					<img
						loading="lazy"
						src="./img/adv-icon-2.svg"
						class="image main-advantages__icon"
						width="36"
						height="36"
						alt="Иконка преимущества"
					/>
				</div>
				<span class="main-advantages__text title__text">
					Срок эксплуатации более 50&nbsp;лет
				</span>
			</li>
			<li class="main-advantages__item">
				<div class="main-advantages__container-icon">
					<img
						loading="lazy"
						src="./img/adv-icon-3.svg"
						class="image main-advantages__icon"
						width="36"
						height="36"
						alt="Иконка преимущества"
					/>
				</div>
				<span class="main-advantages__text title__text">
					Сервис без въезда ассенизатора на участок
				</span>
			</li>
			<li class="main-advantages__item">
				<div class="main-advantages__container-icon">
					<img
						loading="lazy"
						src="./img/adv-icon-4.svg"
						class="image main-advantages__icon"
						width="36"
						height="36"
						alt="Иконка преимущества"
					/>
				</div>
				<span class="main-advantages__text title__text">
					Не боится отключения электричества
				</span>
			</li>
			<li class="main-advantages__item">
				<div class="main-advantages__container-icon">
					<img
						loading="lazy"
						src="./img/adv-icon-5.svg"
						class="image main-advantages__icon"
						width="36"
						height="36"
						alt="Иконка преимущества"
					/>
				</div>
				<span class="main-advantages__text title__text">
					Очищенной водой можно поливать
				</span>
			</li>
			<li class="main-advantages__item">
				<div class="main-advantages__container-icon">
					<img
						loading="lazy"
						src="./img/adv-icon-6.svg"
						class="image main-advantages__icon"
						width="36"
						height="36"
						alt="Иконка преимущества"
					/>
				</div>
				<span class="main-advantages__text title__text">
					Залповый сброс до 750 л (модели PRO)
				</span>
			</li>
			<li class="main-advantages__item">
				<div class="main-advantages__container-icon">
					<img
						loading="lazy"
						src="./img/adv-icon-7.svg"
						class="image main-advantages__icon"
						width="36"
						height="36"
						alt="Иконка преимущества"
					/>
				</div>
				<span class="main-advantages__text title__text">
					Сливайте любой бытовой сток, от умягчителя и котла
				</span>
			</li>
			<li class="main-advantages__item">
				<div class="main-advantages__container-icon">
					<img
						loading="lazy"
						src="./img/adv-icon-8.svg"
						class="image main-advantages__icon"
						width="36"
						height="36"
						alt="Иконка преимущества"
					/>
				</div>
				<span class="main-advantages__text title__text">
					Не требует добавления бактерий
				</span>
			</li>
		</ul>
	</div>
</section>
