<section class="main-design">
	<div class="container main-design__container">
		<h2 class="main-design__title title__h2">
			Крышка септика может стать украшением!
		</h2>
		<h3 class="main-design__subtitle title__h3">
			у нас вы можете выбрать крышку по форме и цвету, не ограничивая себя
			стандартными вариантами
		</h3>
		<ul class="main-design__frames list-reset">
			<li class="main-design__frame">
				<form class="main-design__form" enctype="multipart/form-data">
					<h3 class="main-design__subtitle-frame title__h3">
						Выберите дизайн крышки
					</h3>
					<div class="main-design__container-row">
						<h4 class="main-design__subtitle-row title__h4">
							Форма
						</h4>
						<label class="main-design__label" for="radio1">
							<input
								class="main-design__input"
								type="radio"
								value="shape1"
								name="shape"
								id="radio1"
							/>
							<span class="main-design__radio"></span>
							<picture>
								<source
									srcset="./img/shape1.webp"
									type="image/webp"
								/>
								<img
									loading="lazy"
									src="./img/shape1.png"
									class="image main-design__image"
									width="227"
									height="69"
									alt="Изображение формы крышки"
								/>
							</picture>
						</label>
						<label
							class="main-design__label main-design__label-active"
							for="radio2"
						>
							<input
								class="main-design__input"
								type="radio"
								value="shape2"
								name="shape"
								id="radio2"
								checked
							/>
							<span class="main-design__radio"></span>
							<picture>
								<source
									srcset="./img/shape2.webp"
									type="image/webp"
								/>
								<img
									loading="lazy"
									src="./img/shape2.png"
									class="image main-design__image"
									width="227"
									height="69"
									alt="Изображение формы крышки"
								/>
							</picture>
						</label>
						<label class="main-design__label" for="radio3">
							<input
								class="main-design__input"
								type="radio"
								value="shape3"
								name="shape"
								id="radio3"
							/>
							<span class="main-design__radio"></span>
							<picture>
								<source
									srcset="./img/shape3.webp"
									type="image/webp"
								/>
								<img
									loading="lazy"
									src="./img/shape3.png"
									class="image main-design__image"
									width="227"
									height="69"
									alt="Изображение формы крышки"
								/>
							</picture>
						</label>
					</div>
					<div class="main-design__container-row">
						<h4 class="main-design__subtitle-row title__h4">
							Цвет
						</h4>
						<label
							class="main-design__label main-design__label-color"
							for="radio4"
						>
							<input
								class="main-design__input"
								type="radio"
								value="color1"
								name="color"
								id="radio4"
							/>
							<span
								class="main-design__radio main-design__radio-color"
							></span>
							<picture>
								<source
									srcset="./img/color-1.webp"
									type="image/webp"
								/>
								<img
									loading="lazy"
									src="./img/color-1.png"
									class="image main-design__image main-design__image-color"
									width="190"
									height="44"
									alt="Изображение цвета крышки"
								/>
							</picture>
						</label>
					</div>
				</form>
			</li>
		</ul>
	</div>
</section>
