<section class="main-place">
	<div class="container">
		<div class="main-place__container">
			<h2 class="main-place__title title__h2">
				Расположите станцию в&nbsp;любом удобном месте
			</h2>
			<h3 class="main-place__subtitle title__h3">
				обслуживание без заезда на территорию, выводим сервисную трубу
				за пределы участка
			</h3>
			<ul class="main-place__list list-reset">
				<li class="main-place__item">
					<div class="main-place__container-icon">
						<img
							loading="lazy"
							src="./img/main-place-icon-1.svg"
							class="image main-place-icon"
							width="40"
							height="40"
							alt="Иконка"
						/>
					</div>
					<h4 class="main-place__text title__h4">
						не продавливается плитка
					</h4>
				</li>
				<li class="main-place__item">
					<div class="main-place__container-icon">
						<img
							loading="lazy"
							src="./img/main-place-icon-2.svg"
							class="image main-place-icon"
							width="40"
							height="40"
							alt="Иконка"
						/>
					</div>
					<h4 class="main-place__text title__h4">
						не портится газон
					</h4>
				</li>
				<li class="main-place__item">
					<div class="main-place__container-icon">
						<img
							loading="lazy"
							src="./img/main-place-icon-3.svg"
							class="image main-place-icon"
							width="40"
							height="40"
							alt="Иконка"
						/>
					</div>
					<h4 class="main-place__text title__h4">
						не остаются масляные пятна
					</h4>
				</li>
			</ul>
		</div>
	</div>
</section>
