<section class="main-feedback">
	<div class="container main-feedback__container">
		<h2 class="main-feedback__title title__h2">Наши проекты и отзывы</h2>
		<div class="swiper main-feedback__slider">
			<div class="swiper-wrapper main-feedback__wrapper">
				<div class="swiper-slide main-feedback__slide">
					<div class="main-feedback__container-video">
						<div class="main-feedback__video-play">
							<img
								loading="lazy"
								src="./img/play.svg"
								class="image main-feedback__icon-play"
								width="26"
								height="37"
								alt="Иконка play"
							/>
						</div>
						<div
							class="main-feedback__video-control main-feedback__video-over"
						></div>
						<video
							preload="metadata"
							muted
							poster="./img/feedback-1.png"
							class="main-feedback__video"
						>
							<source src="./img/video.webm" type="video/webm" />
							<source src="./img/video.mp4" type="video/mp4" />
						</video>
						<div class="main-feedback__container-fullscreen">
							<button
								class="btn-reset main-feedback__button-fullscreen"
							></button>
						</div>
					</div>
					<div class="main-feedback__container-text">
						<h3 class="main-feedback__subtitle title__h3">
							Алексей Иванов
						</h3>
						<h4 class="main-feedback__subtitle-h4 title__h4">
							Приобрели Goldrye 6 Pro
						</h4>
						<p class="main-feedback__text">
							«Заказывал станцию очистки и установку, отлично
							все сделали. Привезли, установили, подключили,
							даже инструкцию оставили.»
						</p>
					</div>
				</div>
				<div class="swiper-slide main-feedback__slide">
					<div class="main-feedback__container-video">
						<div class="main-feedback__video-play">
							<img
								loading="lazy"
								src="./img/play.svg"
								class="image main-feedback__icon-play"
								width="26"
								height="37"
								alt="Иконка play"
							/>
						</div>
						<div
							class="main-feedback__video-control main-feedback__video-over"
						></div>
						<video
							preload="metadata"
							muted
							poster="./img/feedback-2.png"
							class="main-feedback__video"
						>
							<source src="./img/video.webm" type="video/webm" />
							<source src="./img/video.mp4" type="video/mp4" />
						</video>
						<div class="main-feedback__container-fullscreen">
							<button
								class="btn-reset main-feedback__button-fullscreen"
							></button>
						</div>
					</div>
					<div class="main-feedback__container-text">
						<h3 class="main-feedback__subtitle title__h3">
							Дмитрий Елисеев
						</h3>
						<h4 class="main-feedback__subtitle-h4 title__h4">
							Приобрели Goldrye 7
						</h4>
						<p class="main-feedback__text">
							«Установили станцию, очень удобно при очитке без
							заезда ассенизатора на участок. У знакомых испортили
							весь газон, у меня все целое и грязи нет.»
						</p>
					</div>
				</div>
				<div class="swiper-slide main-feedback__slide">
					<div class="main-feedback__container-video">
						<div class="main-feedback__video-play">
							<img
								loading="lazy"
								src="./img/play.svg"
								class="image main-feedback__icon-play"
								width="26"
								height="37"
								alt="Иконка play"
							/>
						</div>
						<div
							class="main-feedback__video-control main-feedback__video-over"
						></div>
						<video
							preload="metadata"
							muted
							poster="./img/feedback-3.png"
							class="main-feedback__video"
						>
							<source src="./img/video.webm" type="video/webm" />
							<source src="./img/video.mp4" type="video/mp4" />
						</video>
						<div class="main-feedback__container-fullscreen">
							<button
								class="btn-reset main-feedback__button-fullscreen"
							></button>
						</div>
					</div>
					<div class="main-feedback__container-text">
						<h3 class="main-feedback__subtitle title__h3">
							Сергей Кулешов
						</h3>
						<h4 class="main-feedback__subtitle-h4 title__h4">
							Прораб ООО «Ваш Дом»
						</h4>
						<p class="main-feedback__text">
							«Всегда рекомендуем нашим заказчикам станции очистки
							Goldrye, удобно устанавливать и обслуживать. Слышим
							только положительные отзывы»
						</p>
					</div>
				</div>
				<div class="swiper-slide main-feedback__slide">
					<div class="main-feedback__container-video">
						<div class="main-feedback__video-play">
							<img
								loading="lazy"
								src="./img/play.svg"
								class="image main-feedback__icon-play"
								width="26"
								height="37"
								alt="Иконка play"
							/>
						</div>
						<div
							class="main-feedback__video-control main-feedback__video-over"
						></div>
						<video
							preload="metadata"
							muted
							poster="./img/feedback-2.png"
							class="main-feedback__video"
						>
							<source src="./img/video.webm" type="video/webm" />
							<source src="./img/video.mp4" type="video/mp4" />
						</video>
						<div class="main-feedback__container-fullscreen">
							<button
								class="btn-reset main-feedback__button-fullscreen"
							></button>
						</div>
					</div>
					<div class="main-feedback__container-text">
						<h3 class="main-feedback__subtitle title__h3">
							Дмитрий Елисеев
						</h3>
						<h4 class="main-feedback__subtitle-h4 title__h4">
							Приобрели Goldrye 7
						</h4>
						<p class="main-feedback__text">
							«Установили станцию, очень удобно при очитке без
							заезда ассенизатора на участок. У знакомых испортили
							весь газон, у меня все целое и грязи нет.»
						</p>
					</div>
				</div>
				<div class="swiper-slide main-feedback__slide">
					<div class="main-feedback__container-video">
						<div class="main-feedback__video-play">
							<img
								loading="lazy"
								src="./img/play.svg"
								class="image main-feedback__icon-play"
								width="26"
								height="37"
								alt="Иконка play"
							/>
						</div>
						<div
							class="main-feedback__video-control main-feedback__video-over"
						></div>
						<video
							preload="metadata"
							muted
							poster="./img/feedback-3.png"
							class="main-feedback__video"
						>
							<source src="./img/video.webm" type="video/webm" />
							<source src="./img/video.mp4" type="video/mp4" />
						</video>
						<div class="main-feedback__container-fullscreen">
							<button
								class="btn-reset main-feedback__button-fullscreen"
							></button>
						</div>
					</div>
					<div class="main-feedback__container-text">
						<h3 class="main-feedback__subtitle title__h3">
							Сергей Кулешов
						</h3>
						<h4 class="main-feedback__subtitle-h4 title__h4">
							Прораб ООО «Ваш Дом»
						</h4>
						<p class="main-feedback__text">
							«Всегда рекомендуем нашим заказчикам станции очистки
							Goldrye, удобно устанавливать и обслуживать. Слышим
							только положительные отзывы»
						</p>
					</div>
				</div>
			</div>
			<button
				class="btn-reset button button__secondary main-feedback__button-more"
			>
				показать больше
			</button>
			<div class="main-feedback__container-pagination">
				<button
					class="btn-reset main-feedback__button main-feedback__button-prev"
				>
					<img
						loading="lazy"
						src="./img/left-arrow-slider.svg"
						class="image main-feedback__icon-arrow"
						width="13"
						height="21"
						alt="Стрелка влево"
					/>
				</button>
				<div class="main-feedback__pagination list-reset"></div>
				<button
					class="btn-reset main-feedback__button main-feedback__button-next"
				>
					<img
						loading="lazy"
						src="./img/left-arrow-slider.svg"
						class="image main-feedback__icon-arrow main-feedback__icon-reversed"
						width="13"
						height="21"
						alt="Стрелка вправо"
					/>
				</button>
			</div>
		</div>
	</div>
</section>
