<section class="main-design">
	<div class="container main-design__container">
		<h2 class="main-design__title title__h2">
			Крышка септика может стать украшением!
		</h2>
		<h3 class="main-design__subtitle title__h3">
			у нас вы можете выбрать крышку по форме и цвету, не ограничивая себя
			стандартными вариантами
		</h3>
		<div class="swiper main-design__slider">
			<div class="swiper-wrapper main-design__wrapper">
				<div class="swiper-slide main-design__slide">
					<form
						class="main-design__form"
						enctype="multipart/form-data"
					>
						<h3 class="main-design__subtitle-frame title__h3">
							Выберите дизайн крышки
						</h3>
						<h4 class="main-design__subtitle-row title__h4">
							Форма
						</h4>
						<div class="main-design__container-row">
							<label class="main-design__label" for="radio1">
								<input
									class="main-design__input"
									type="radio"
									value="плоская"
									name="shape"
									id="radio1"
								/>
								<span class="main-design__radio"></span>
								<picture class="main-design__picture-top">
									<source
										srcset="./img/shape1.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/shape1.png"
										class="image main-design__image"
										width="227"
										height="69"
										alt="Изображение формы крышки"
									/>
								</picture>
							</label>
							<label
								class="main-design__label main-design__label-active"
								for="radio2"
							>
								<input
									class="main-design__input"
									type="radio"
									value="выпуклая"
									name="shape"
									id="radio2"
									checked
								/>
								<span class="main-design__radio"></span>
								<picture class="main-design__picture-top">
									<source
										srcset="./img/shape2.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/shape2.png"
										class="image main-design__image"
										width="227"
										height="69"
										alt="Изображение формы крышки"
									/>
								</picture>
							</label>
							<label class="main-design__label" for="radio3">
								<input
									class="main-design__input"
									type="radio"
									value="плоская с выпуклостью"
									name="shape"
									id="radio3"
								/>
								<span class="main-design__radio"></span>
								<picture class="main-design__picture-top">
									<source
										srcset="./img/shape3.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/shape3.png"
										class="image main-design__image"
										width="227"
										height="69"
										alt="Изображение формы крышки"
									/>
								</picture>
							</label>
						</div>
						<h4 class="main-design__subtitle-row title__h4">
							Цвет
						</h4>
						<div
							class="main-design__container-row main-design__container-row-color"
						>
							<label
								class="main-design__label main-design__label-color"
								for="radio4"
							>
								<input
									class="main-design__input"
									type="radio"
									value="кора"
									name="color"
									id="radio4"
								/>
								<span
									class="main-design__radio main-design__radio-color"
								></span>
								<picture class="main-design__picture-bot">
									<source
										srcset="./img/color-1.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/color-1.png"
										class="image main-design__image main-design__image-color"
										width="190"
										height="44"
										alt="Изображение цвета крышки"
									/>
								</picture>
								<span class="main-design__text title__text"
									>кора</span
								>
							</label>
							<label
								class="main-design__label main-design__label-active main-design__label-color"
								for="radio5"
							>
								<input
									class="main-design__input"
									type="radio"
									value="плитка"
									name="color"
									id="radio5"
									checked
								/>
								<span
									class="main-design__radio main-design__radio-color"
								></span>
								<picture class="main-design__picture-bot">
									<source
										srcset="./img/color-2.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/color-2.png"
										class="image main-design__image main-design__image-color"
										width="190"
										height="44"
										alt="Изображение цвета крышки"
									/>
								</picture>
								<span class="main-design__text title__text">
									плитка
								</span>
							</label>
							<label
								class="main-design__label main-design__label-color"
								for="radio6"
							>
								<input
									class="main-design__input"
									type="radio"
									value="газон"
									name="color"
									id="radio6"
								/>
								<span
									class="main-design__radio main-design__radio-color"
								></span>
								<picture class="main-design__picture-bot">
									<source
										srcset="./img/color-3.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/color-3.png"
										class="image main-design__image main-design__image-color"
										width="190"
										height="44"
										alt="Изображение цвета крышки"
									/>
								</picture>
								<span class="main-design__text title__text">
									газон
								</span>
							</label>
							<label
								class="main-design__label main-design__label-color"
								for="radio8"
							>
								<input
									class="main-design__input"
									type="radio"
									value="под заказ"
									name="color"
									id="radio8"
								/>
								<span
									class="main-design__radio main-design__radio-color"
								></span>
								<picture class="main-design__picture-bot">
									<source
										srcset="./img/color-4.webp"
										type="image/webp"
									/>
									<img
										loading="lazy"
										src="./img/color-4.png"
										class="image main-design__image main-design__image-color"
										width="190"
										height="44"
										alt="Изображение цвета крышки"
									/>
								</picture>
								<span class="main-design__text title__text">
									под заказ
								</span>
							</label>
						</div>
						<div class="main-design__container-button">
							<button
								class="btn-reset main-design__button button button__primary main-design__button-next"
							>
								далее →
							</button>
						</div>
					</form>
				</div>
				<div
					class="swiper-slide main-design__slide main-design__slide-tohide"
				>
					<h3 class="main-design__subtitle-frame title__h3">
						Вы выбрали
					</h3>
					<div class="main-design__container-flex">
						<div class="main-design__container-image">
							<img
								src="./img/shape1.png"
								class="image main-degign__image-imported"
								width="381"
								height="250"
								alt="Изображение формы"
							/>
							<div class="catalog-hero__discount">-10%</div>
						</div>
						<div class="main-design__container-descr">
							<div>
								<p
									class="title__text main-design__text-result main-design__text-shape"
								></p>
								<p
									class="title__text main-design__text-result main-design__text-color"
								></p>
								<p
									class="title__text main-design__text-result main-design__text-sizes"
								>
									Размеры: 600х600
								</p>
								<p class="title__text main-design__text-result">
									Другая техническая информация
								</p>
							</div>
							<div class="main-design__container-order">
								<button
									class="btn-reset button button__primary button__primary-icon main-design__button"
								>
									<svg class="button__primary-icon-svg">
										<use
											xlink:href="img/sprite.svg#catalog-button-icon"
										></use>
									</svg>
								</button>
								<div class="catalog-hero__container-price">
									<span
										class="main-design__price catalog-hero__price catalog-hero__price-real"
									>
										4 990 ₽
									</span>
									<span
										class="main-design__price catalog-hero__price catalog-hero__price-old"
									>
										5 990 ₽
									</span>
								</div>
							</div>
						</div>
					</div>
					<button
						class="btn-reset button button__secondary main-design__button-prev"
					>
						вернуться в выбору дизайна
					</button>
				</div>
				<div class="swiper-slide main-design__slide">
					<h3 class="main-design__subtitle-frame title__h3">
						Вы выбрали
					</h3>
					<div class="main-design__container-flex">
						<div class="main-design__container-image">
							<img
								src="./img/shape1.png"
								class="image main-degign__image-imported"
								width="381"
								height="250"
								alt="Изображение формы"
							/>
							<div class="catalog-hero__discount">-10%</div>
						</div>
						<div class="main-design__container-descr">
							<div>
								<p
									class="title__text main-design__text-result main-design__text-info"
								>
									Вы выбрали дизайн крышки под заказ, мы можем
									предложить оформление крышки гравием
									различных цветов.
								</p>
								<p
									class="title__text main-design__text-result main-design__text-info"
								>
									Для выбора цвета и материала оставьте заявку
									и наш менеджер свяжется с Вами для уточнения
									деталей.
								</p>
								<p
									class="title__text main-design__text-result main-design__text-shape"
								></p>
								<p
									class="title__text main-design__text-result main-design__text-color"
								></p>
								<p
									class="title__text main-design__text-result main-design__text-sizes"
								>
									Размеры: 600х600
								</p>
							</div>
						</div>
					</div>
					<div class="main-design__container-btns">
						<button
							class="btn-reset button button__secondary main-design__button-prev"
						>
							вернуться в выбору дизайна
						</button>
						<button
							class="btn-reset button button__primary main-design__button-submit"
						>
							отправить заявку
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
