<section class="main-hero">
	<div class="container main-hero__container">
		<div class="main-hero__slider swiper">
			<div class="swiper-wrapper main-hero__wrapper">
				<div
					class="swiper-slide main-hero__slide main-hero__slide-image"
				>
					<img
						loading="lazy"
						src="./img/main-hero-slide-1.png"
						class="image main-hero__image-slide"
						width="1290"
						height="645"
						alt="Слайд"
					/>
				</div>
				<div class="swiper-slide main-hero__slide">
					<div class="main-hero__content">
						<img
							loading="lazy"
							src="./img/logo480.svg"
							class="image main-hero__image-logo"
							width="215"
							height="58"
							alt="Логотип"
						/>
						<h1 class="main-hero__title title__h1">
							Системы очистки стоков
						</h1>
						<h3 class="main-hero__subtitle title__h3">
							автономная станция биохимической очистки с
							улучшенной технологией
						</h3>
						<div class="main-hero__buttons">
							<a
								href="./catalog.html"
								class="btn-reset button button__primary main-hero__button"
							>
								перейти в каталог
							</a>
							<a
								href="./quiz.html"
								class="btn-reset button button__secondary main-hero__button"
							>
								подобрать станцию
							</a>
						</div>
					</div>
					<div class="main-feedback__container-video">
						<div class="main-feedback__video-play">
							<img
								loading="lazy"
								src="./img/play.svg"
								class="image main-feedback__icon-play"
								width="26"
								height="37"
								alt="Иконка play"
							/>
						</div>
						<div
							class="main-feedback__video-control main-feedback__video-over"
						></div>
						<video
							preload="auto"
							muted
							class="main-feedback__video"
							width="607"
							height="340"
						>
							<source
								src="./img/main-video.mp4"
								type="video/mp4"
							/>
							<source
								src="./img/main-video.webm"
								type="video/webm"
							/>
						</video>
						<div class="main-feedback__container-fullscreen">
							<button
								class="btn-reset main-feedback__button-fullscreen"
							></button>
						</div>
					</div>
				</div>

				<div class="swiper-slide main-hero__slide">
					<div class="main-hero__content">
						<img
							loading="lazy"
							src="./img/logo480.svg"
							class="image main-hero__image-logo"
							width="215"
							height="58"
							alt="Логотип"
						/>
						<h1 class="main-hero__title title__h1">
							Далеко-далеко за словесными горами.
						</h1>
						<h3 class="main-hero__subtitle title__h3">
							Далеко-далеко за словесными горами в стране гласных,
							и согласных живут рыбные тексты. Безорфографичный,
							языком?
						</h3>
						<div class="main-hero__buttons">
							<a
								href="./catalog.html"
								class="btn-reset button button__primary main-hero__button"
							>
								перейти в каталог
							</a>
							<a
								href="./quiz.html"
								class="btn-reset button button__secondary main-hero__button"
							>
								подобрать станцию
							</a>
						</div>
					</div>
					<!-- <picture>
						<source
							srcset="./img/slide-image.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/slide-image.png"
							class="image main-hero__image"
							width="532"
							height="476"
							alt="Изображение слайда"
						/>
					</picture> -->
				</div>
			</div>
		</div>
		<div class="main-hero__container-pagination">
			<div class="main-hero__pagination"></div>
		</div>
	</div>
</section>
