<section class="main-hero">
	<div class="container main-hero__container">
		<div class="main-hero__slider swiper">
			<div class="swiper-wrapper main-hero__wrapper">
				<div class="swiper-slide main-hero__slide">
					<picture>
						<source
							srcset="./img/slide-image.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./img/slide-image.png"
							class="image main-hero__slide"
							width="532"
							height="476"
							alt="Изображение слайда"
						/>
					</picture>
				</div>
			</div>
		</div>
	</div>
</section>
