<section class="menu">
	<div class="menu__container">
		<ul class="list-reset menu__list">
			<li class="menu__item">
				<a href="./main.html" class="menu__link">
					<img
						loading="lazy"
						src="./img/home.svg"
						class="image"
						width="25"
						height="21"
						alt="Иконка домой"
					/>
				</a>
			</li>
			<li class="menu__item">
				<button class="btn-reset">
					<img
						loading="lazy"
						src="./img/search-icon.svg"
						class="image search-icon menu__icon-search"
						width="22"
						height="18"
						alt="Иконка поиска"
					/>
				</button>
			</li>
			<li class="menu__item">
				<button
					class="burger menu__burger"
					aria-label="Открыть меню"
					aria-expanded="false"
					id="burger"
				>
					<span class="burger__line"></span>
				</button>
			</li>
			<li class="header__item menu__item">
				<a href="./basket.html" class="menu__link header__link-basket">
					<div class="header__counter header__counter-hidden">
						<span class="header__number">1</span>
					</div>
					<img
						src="./img/basket-icon.svg"
						class="image header__icon"
						width="24"
						height="22"
						alt="Иконка корзины"
					/>
				</a>
			</li>
			<li class="header__item menu__item">
				<button class="menu__link btn-reset open-form-btn">
					<img
						src="./img/user-icon.svg"
						class="image header__icon"
						width="21"
						height="21"
						alt="Иконка пользователя"
					/>
				</button>
			</li>
		</ul>
	</div>
	<div class="menu__bg">
		<ul class="list-reset menu__content">
			<li class="nav__item menu__item">
				<a href="./catalog.html" class="nav__link menu__link-nav">
					Каталог
				</a>
			</li>
			<li class="nav__item menu__item">
				<a href="./discount.html" class="nav__link menu__link-nav">
					Акции
				</a>
			</li>
			<li class="nav__item menu__item">
				<a href="./news.html" class="nav__link menu__link-nav">
					Новости
				</a>
			</li>
			<li class="nav__item menu__item">
				<a href="./cleaning.html" class="nav__link menu__link-nav">
					О системах очистки
				</a>
			</li>
			<li class="nav__item menu__item">
				<a href="./cooperation.html" class="nav__link menu__link-nav">
					Сотрудничество
				</a>
			</li>
			<li class="nav__item menu__item">
				<a href="./about.html" class="nav__link menu__link-nav"
					>О компании</a
				>
			</li>
			<li class="nav__item menu__item">
				<a href="./contacts.html" class="nav__link menu__link-nav"
					>Контакты</a
				>
			</li>
		</ul>
	</div>
</section>
