<section class="news-hero">
	<div class="container news-hero__container">
		<h2 class="news-hero__title title__h2">Новости</h2>
		<ul class="news-hero__list list-reset">
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
			<li class="news-hero__item">
				<article class="news-hero__article">
					<h4
						class="news-hero__title news-hero__title-artice title__h4"
					>
						Заголовок новости в две строки или три строки
					</h4>
					<p class="news-hero__text">
						Следует отметить, что убеждённость некоторых оппонентов
						обеспечивает актуальность прогресса профессионального
						сообщества. Картельные сговоры не допускают ситуации,
						при которой предприниматели в сети интернет могут быть
						рассмотрены исключительно в разрезе маркетинговых и
						финансовых предпосылок. Лишь ключевые особенности
						структуры проекта смешаны с не уникальными данными до
						степени совершенной неузнаваемости, из-за чего
						возрастает их статус бесполезности.
					</p>
					<div class="news-hero__container-flex">
						<a href="./news-card.html" class="news-hero__link">
							Подробнее
						</a>
						<time class="news-hero__datetime" datetime="2023-02-28">
							28 фев. 2023
						</time>
					</div>
				</article>
			</li>
		</ul>
	</div>
</section>
