<section class="search">
	<div class="container search__container">
		<div class="search__content">
			<div class="search__container-input">
				<img
					loading="lazy"
					src="./img/search-icon.svg"
					class="image search__icon"
					width="19"
					height="19"
					alt="Иконка поиска"
				/>
				<input
					type="text"
					name="search-text"
					id="search-text"
					class="search__input-text"
					placeholder="Поисковой запрос"
				/>
			</div>
			<ul class="list-reset search__list">
				<li class="search__item title__text">Предложение похожих</li>
				<li class="search__item title__text">Предложение похожих</li>
				<li class="search__item title__text">Предложение похожих</li>
			</ul>
		</div>
	</div>
</section>
