// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
	// base
	--font-family: "Montserrat", sans-serif;
	--content-width: 1290px;
	--container-offset: 20px;
	--container-width: calc(
		var(--content-width) + (var(--container-offset) * 2)
	);

	// colors
	--white-color: #fff;
	--black-color: #000;
	--grey-color: #fffbf5;
	--disabled-color: #d6d6d6;
	--light-blue-color: #008ed6;
	--blue-color: #246ce2;
	--darker-blue-color: #3a486b;
	--dark-blue-color: #1c2a4d;
	--red-color: #d61200;
	--bg-color: #f9f3ec;
	--border-color: #d7d3cd;
	--grafite-color: #90a4af;
	--darker-grafite-color: #455b66;
	--grafite-4-color: #617e8c;
	--yellow-color: #c4d600;

	//slider color
	--swiper-pagination-color: var(--yellow-color);
}
